In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_stata('DATA/Analysis.dta')

In [50]:
data.b_age_pp

AttributeError: 'DataFrame' object has no attribute 'b_age_pp'

In [3]:
data.shape

(13739, 877)

In [ ]:
data.r

In [4]:
df_tbl_2_tbl_3 = data[[
    'pupil_id', 'a01', 'baseline_score', 'endline_score', 'treat', 'ple_div',
    'e_int_pp', 'r3_att_pp', 'r3_att_p7_pp', 'pre_theta', 'post_theta', 'r3_gender', 'b_no_books_sc',
    'pre_pp_b18', 'pre_pp_b10', 'pre_pp_b03', 'pre_pp_b04', 
    'pre_pp_c01a', 'pre_pp_c01b', 'pre_pp_c01c', # electricity floor
    'pre_mt_b05a', #Teacher experience
    'pre_mt_b04', #Teacher Education
    'pre_mt_b02', #Teacher Age
    'pre_mt_b01' # Teacher gender
]]

In [5]:
df_tbl_2_tbl_3['ple_tried'] = [1 for i in range(len(df_tbl_2_tbl_3))]
df_tbl_2_tbl_3['ple_pass'] = [0 for i in range(len(df_tbl_2_tbl_3))]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
df_tbl_2_tbl_3.shape

(13739, 26)

In [7]:
df_tbl_2_tbl_3.loc[
    (df_tbl_2_tbl_3['ple_div']=='')|(df_tbl_2_tbl_3['ple_div']=='X'), 'ple_tried'
] = 0

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [8]:
df_tbl_2_tbl_3.loc[
    (df_tbl_2_tbl_3['ple_div']=='1')|(df_tbl_2_tbl_3['ple_div']=='2')|
    (df_tbl_2_tbl_3['ple_div']=='3')|(df_tbl_2_tbl_3['ple_div']=='4'), 'ple_pass'
] = 1

In [9]:
df_tbl_2_tbl_3

,pupil_id,a01,baseline_score,endline_score,treat,ple_div,e_int_pp,r3_att_pp,r3_att_p7_pp,pre_theta,...,pre_pp_b04,pre_pp_c01a,pre_pp_c01b,pre_pp_c01c,pre_mt_b05a,pre_mt_b04,pre_mt_b02,pre_mt_b01,ple_tried,ple_pass
0,1001001.0,1001.0,36.0,NaN,Control,,No,No,No,0.705602,...,13.0,No,No,Yes,24.0,Grade 3,55.0,Male,0,0
1,1001002.0,1001.0,32.0,28.0,Control,3,Yes,Yes,Yes,0.400166,...,14.0,Yes,Yes,Yes,24.0,Grade 3,55.0,Male,1,1
2,1001003.0,1001.0,30.0,34.0,Control,,Yes,No,No,0.138332,...,13.0,Yes,No,Yes,24.0,Grade 3,55.0,Male,0,0
3,1001004.0,1001.0,32.0,NaN,Control,,No,No,No,0.421661,...,13.0,No,No,Yes,24.0,Grade 3,55.0,Male,0,0
4,1001005.0,1001.0,38.0,42.0,Control,U,Yes,No,No,0.990663,...,17.0,Yes,No,Yes,24.0,Grade 3,55.0,Male,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13734,12084102.0,12084.0,NaN,36.0,Treatment,,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
13735,12084103.0,12084.0,NaN,22.0,Treatment,,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
13736,12084104.0,12084.0,NaN,28.0,Treatment,,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
13737,12084105.0,12084.0,NaN,28.0,Treatment,,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
13738,12084106.0,12084.0,NaN,36.0,Treatment,,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [10]:
df_tbl_2_tbl_3['pre_theta_sd'] = (
    df_tbl_2_tbl_3['pre_theta'] - df_tbl_2_tbl_3.pre_theta.mean()
)/df_tbl_2_tbl_3.pre_theta.std()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
df_tbl_2_tbl_3['post_theta_sd'] = (
    df_tbl_2_tbl_3['post_theta'] - df_tbl_2_tbl_3.pre_theta.mean()
)/df_tbl_2_tbl_3.pre_theta.std()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# df_tbl_2_tbl_3 = df_tbl_2_tbl_3.sort_values('pre_theta_sd')

In [13]:
# df_tbl_2_tbl_3['rank_theta_sd'] = (
#     df_tbl_2_tbl_3
#     ['pre_theta_sd']
#     .rank(method='dense', ascending=True)
# )

In [14]:
# df_tbl_2_tbl_3['scores_top'] = (df_tbl_2_tbl_3['rank_theta_sd'] >= 0.5).astype(int)
# df_tbl_2_tbl_3['scores_bottom'] = (df_tbl_2_tbl_3['rank_theta_sd'] < 0.5).astype(int)

In [15]:
df_tbl_2_tbl_3['books_with'] = (df_tbl_2_tbl_3['b_no_books_sc'] == 'No').astype(int)
# df_tbl_2_tbl_3['books_without'] = (df_tbl_2_tbl_3['b_no_books_sc'] == 1).astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
df_tbl_2_tbl_3.b_no_books_sc

0        Yes
1        Yes
2        Yes
3        Yes
4        Yes
        ...
13734     No
13735     No
13736     No
13737     No
13738     No
Name: b_no_books_sc, Length: 13739, dtype: category
Categories (2, object): [No < Yes]

In [17]:
# df_tbl_2_tbl_3['gender_male'] = (df_tbl_2_tbl_3['r3_gender'] == 1).astype(int)
# df_tbl_2_tbl_3['gender_female'] = (df_tbl_2_tbl_3['r3_gender'] == 2).astype(int)

In [18]:
df_tbl_2_tbl_3['b_homework_pp'] = (df_tbl_2_tbl_3['pre_pp_b10'] == 'Yes').astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_tbl_2_tbl_3['b_fem_pp'] = (df_tbl_2_tbl_3['pre_pp_b03'] == 'Female').astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df_tbl_2_tbl_3['b_elec_pp'] = (df_tbl_2_tbl_3['pre_pp_c01a'] == 'Yes').astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_tbl_2_tbl_3['b_cement_pp'] = (df_tbl_2_tbl_3['pre_pp_c01b'] == 'Yes').astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df_tbl_2_tbl_3['b_radio_pp'] = (df_tbl_2_tbl_3['pre_pp_c01c'] == 'Yes').astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
df_tbl_2_tbl_3['b_edhigh_teacher'] = (
    df_tbl_2_tbl_3['pre_mt_b04'].isin(['Grade 5 (diploma in education)', 'Graduate in education'])
).astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
df_tbl_2_tbl_3['b_fem_teacher'] = (df_tbl_2_tbl_3['pre_mt_b01'] == 'Female').astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
df_tbl_2_tbl_3.b_fem_teacher.unique()

array([0, 1])

# возня с удовольствием детей от обучения

In [26]:
df_tbl_2_tbl_3['b_enjoy_pp'] = df_tbl_2_tbl_3.pre_pp_b18.cat.codes

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_tbl_2_tbl_3.pre_pp_b18.dropna()

0                  Always
1        Most of the time
2                  Always
3                  Always
4                  Always
               ...
13727              Always
13728              Always
13729              Always
13730              Always
13731              Always
Name: pre_pp_b18, Length: 8864, dtype: category
Categories (4, object): [Always < Most of the time < Some of the time < Never]

In [292]:
df_tbl_2_tbl_3.b_enjoy_pp

0        0
1        1
2        0
3        0
4        0
        ..
13734   -1
13735   -1
13736   -1
13737   -1
13738   -1
Name: b_enjoy_pp, Length: 13739, dtype: int8

# конец

In [28]:
df_tbl_2_tbl_3.dropna()

,pupil_id,a01,baseline_score,endline_score,treat,ple_div,e_int_pp,r3_att_pp,r3_att_p7_pp,pre_theta,...,post_theta_sd,books_with,b_homework_pp,b_fem_pp,b_elec_pp,b_cement_pp,b_radio_pp,b_edhigh_teacher,b_fem_teacher,b_enjoy_pp
1,1001002.0,1001.0,32.0,28.0,Control,3,Yes,Yes,Yes,0.400166,...,-0.131773,0,1,1,1,1,1,0,0,1
2,1001003.0,1001.0,30.0,34.0,Control,,Yes,No,No,0.138332,...,0.604438,0,1,1,1,0,1,0,0,0
4,1001005.0,1001.0,38.0,42.0,Control,U,Yes,No,No,0.990663,...,1.171507,0,1,1,1,0,1,0,0,0
5,1001006.0,1001.0,30.0,32.0,Control,,Yes,Yes,No,0.335527,...,0.209586,0,1,0,0,0,1,0,0,0
6,1001007.0,1001.0,18.0,20.0,Control,,Yes,No,No,-1.322955,...,-0.985368,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13713,12084052.0,12084.0,36.0,56.0,Treatment,2,Yes,Yes,Yes,0.642266,...,2.373994,1,1,1,1,1,1,0,0,0
13715,12084054.0,12084.0,26.0,26.0,Treatment,3,Yes,Yes,Yes,-0.041357,...,-0.285418,1,1,1,1,1,1,0,0,0
13716,12084055.0,12084.0,38.0,40.0,Treatment,,Yes,No,No,1.053018,...,1.005093,1,1,1,0,1,1,0,0,0
13718,12084057.0,12084.0,40.0,40.0,Treatment,,Yes,No,No,1.193835,...,0.654886,1,0,1,0,0,1,0,0,0
13722,12084061.0,12084.0,12.0,18.0,Treatment,,Yes,No,No,-1.752671,...,-1.290269,1,0,1,1,1,0,0,0,0

In [25]:
df_tbl_2_tbl_3['decile'] = pd.qcut(df_tbl_2_tbl_3['pre_theta_sd'], 10, labels=False)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
df_tbl_2_tbl_3

,pupil_id,a01,baseline_score,endline_score,treat,ple_div,e_int_pp,r3_att_pp,r3_att_p7_pp,pre_theta,...,post_theta_sd,books_with,b_homework_pp,b_fem_pp,b_elec_pp,b_cement_pp,b_radio_pp,b_edhigh_teacher,b_fem_teacher,decile
0,1001001.0,1001.0,36.0,NaN,Control,,No,No,No,0.705602,...,NaN,0,1,1,0,0,1,0,0,7.0
1,1001002.0,1001.0,32.0,28.0,Control,3,Yes,Yes,Yes,0.400166,...,-0.131773,0,1,1,1,1,1,0,0,6.0
2,1001003.0,1001.0,30.0,34.0,Control,,Yes,No,No,0.138332,...,0.604438,0,1,1,1,0,1,0,0,5.0
3,1001004.0,1001.0,32.0,NaN,Control,,No,No,No,0.421661,...,NaN,0,1,1,0,0,1,0,0,6.0
4,1001005.0,1001.0,38.0,42.0,Control,U,Yes,No,No,0.990663,...,1.171507,0,1,1,1,0,1,0,0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13734,12084102.0,12084.0,NaN,36.0,Treatment,,Yes,NaN,NaN,NaN,...,0.624442,1,0,0,0,0,0,0,0,NaN
13735,12084103.0,12084.0,NaN,22.0,Treatment,,Yes,NaN,NaN,NaN,...,-0.721779,1,0,0,0,0,0,0,0,NaN
13736,12084104.0,12084.0,NaN,28.0,Treatment,,Yes,NaN,NaN,NaN,...,-0.255876,1,0,0,0,0,0,0,0,NaN
13737,12084105.0,12084.0,NaN,28.0,Treatment,,Yes,NaN,NaN,NaN,...,0.031030,1,0,0,0,0,0,0,0,NaN
13738,12084106.0,12084.0,NaN,36.0,Treatment,,Yes,NaN,NaN,NaN,...,0.480013,1,0,0,0,0,0,0,0,NaN

In [27]:
df_tbl_2_tbl_3['scores_top'] = (df_tbl_2_tbl_3['decile'] >= 5).astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
list_of_dfs = []
for i in range(10):
    tmp_df = df_tbl_2_tbl_3[df_tbl_2_tbl_3.decile==i]
    tmp_df['decile_decile'] = pd.qcut(tmp_df['pre_theta_sd'], 10, labels=False)
    list_of_dfs.append(tmp_df)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [29]:
df_with_ref_group = pd.concat(list_of_dfs)

In [30]:
df_with_ref_group['decile_decile'] = df_with_ref_group['decile_decile'].map(lambda x: (x+1)*20000/10)

In [31]:
df_with_ref_group

,pupil_id,a01,baseline_score,endline_score,treat,ple_div,e_int_pp,r3_att_pp,r3_att_p7_pp,pre_theta,...,b_homework_pp,b_fem_pp,b_elec_pp,b_cement_pp,b_radio_pp,b_edhigh_teacher,b_fem_teacher,decile,scores_top,decile_decile
6,1001007.0,1001.0,18.0,20.0,Control,,Yes,No,No,-1.322955,...,0,1,0,0,1,0,0,0.0,0,14000.0
7,1001008.0,1001.0,18.0,18.0,Control,,Yes,Yes,No,-1.195091,...,1,1,0,0,1,0,0,0.0,0,18000.0
16,1001017.0,1001.0,16.0,26.0,Control,,Yes,Yes,No,-1.197617,...,1,1,0,0,1,0,0,0.0,0,18000.0
35,1002007.0,1002.0,16.0,NaN,Control,,No,No,No,-1.252389,...,1,0,0,0,1,0,0,0.0,0,16000.0
50,1002022.0,1002.0,14.0,14.0,Control,U,Yes,Yes,Yes,-1.673477,...,1,1,1,1,1,0,0,0.0,0,8000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13694,12084033.0,12084.0,52.0,NaN,Treatment,,No,Yes,No,2.447341,...,1,0,1,1,1,0,0,9.0,1,20000.0
13696,12084035.0,12084.0,44.0,52.0,Treatment,1,Yes,Yes,Yes,1.615249,...,1,1,1,1,1,0,0,9.0,1,14000.0
13699,12084038.0,12084.0,40.0,48.0,Treatment,2,Yes,Yes,Yes,1.400300,...,1,0,0,0,0,0,0,9.0,1,10000.0
13702,12084041.0,12084.0,40.0,32.0,Treatment,2,Yes,Yes,Yes,1.333358,...,0,0,1,1,1,0,0,9.0,1,8000.0
13718,12084057.0,12084.0,40.0,40.0,Treatment,,Yes,No,No,1.193835,...,0,1,0,0,1,0,0,9.0,1,4000.0

In [36]:
df_with_ref_group.groupby('decile').count()

,pupil_id,a01,baseline_score,endline_score,treat,ple_div,e_int_pp,r3_att_pp,r3_att_p7_pp,pre_theta,...,b_homework_pp,b_fem_pp,b_elec_pp,b_cement_pp,b_radio_pp,b_edhigh_teacher,b_fem_teacher,b_enjoy_pp,scores_top,decile_decile
decile,,,,,,,,,,,,,,,,,,,,,
0.0,879,879,879,582,879,879,879,879,879,879,...,879,879,879,879,879,879,879,879,879,879
1.0,879,879,879,576,879,879,879,879,879,879,...,879,879,879,879,879,879,879,879,879,879
2.0,879,879,879,631,879,879,879,879,879,879,...,879,879,879,879,879,879,879,879,879,879
3.0,878,878,878,633,878,878,878,878,878,878,...,878,878,878,878,878,878,878,878,878,878
4.0,885,885,885,639,885,885,885,885,885,885,...,885,885,885,885,885,885,885,885,885,885
5.0,873,873,873,643,873,873,873,873,873,873,...,873,873,873,873,873,873,873,873,873,873
6.0,878,878,878,664,878,878,878,878,878,878,...,878,878,878,878,878,878,878,878,878,878
7.0,879,879,879,676,879,879,879,879,879,879,...,879,879,879,879,879,879,879,879,879,879
8.0,879,879,879,656,879,879,879,879,879,879,...,879,879,879,879,879,879,879,879,879,879
9.0,879,879,879,616,879,879,879,879,879,879,...,879,879,879,879,879,879,879,879,879,879

In [37]:
df_with_ref_group.decile_decile.mean()

10995.448338643604

In [38]:
df_with_ref_group.columns

Index(['pupil_id', 'a01', 'baseline_score', 'endline_score', 'treat',
       'ple_div', 'e_int_pp', 'r3_att_pp', 'r3_att_p7_pp', 'pre_theta',
       'post_theta', 'r3_gender', 'b_no_books_sc', 'pre_pp_b18', 'pre_pp_b10',
       'pre_pp_b03', 'pre_pp_b04', 'pre_pp_c01a', 'pre_pp_c01b', 'pre_pp_c01c',
       'pre_mt_b05a', 'pre_mt_b04', 'pre_mt_b02', 'pre_mt_b01', 'ple_tried',
       'ple_pass', 'pre_theta_sd', 'post_theta_sd', 'books_with',
       'b_homework_pp', 'b_fem_pp', 'b_elec_pp', 'b_cement_pp', 'b_radio_pp',
       'b_edhigh_teacher', 'b_fem_teacher', 'b_enjoy_pp', 'decile',
       'scores_top', 'decile_decile'],
      dtype='object')

## Treatment labels

In [32]:
df_with_ref_group.loc[
    df_with_ref_group.treat=='Treatment', 'treatment'
] = 1

In [33]:
df_with_ref_group['treatment'] = df_with_ref_group['treatment'].fillna(0)

In [34]:
final = df_with_ref_group[[
    'pupil_id', 'a01',
    'treatment',
    'pre_theta_sd', 'post_theta_sd', 
    'ple_tried', 'ple_pass',
    'books_with', 
    'b_homework_pp', 'b_fem_pp', 'b_elec_pp', 'b_cement_pp', 'b_radio_pp',
    'b_edhigh_teacher', 'b_fem_teacher', 
    'decile', 'scores_top', 'decile_decile', 
    'baseline_score', 'endline_score'
]]

In [35]:
final.loc[
    final.treatment==0, 'decile_decile'
] = 0

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [36]:
final

,pupil_id,a01,treatment,pre_theta_sd,post_theta_sd,ple_tried,ple_pass,books_with,b_homework_pp,b_fem_pp,b_elec_pp,b_cement_pp,b_radio_pp,b_edhigh_teacher,b_fem_teacher,decile,scores_top,decile_decile,baseline_score,endline_score
6,1001007.0,1001.0,0.0,-1.483738,-0.985368,0,0,0,0,1,0,0,1,0,0,0.0,0,0.0,18.0,20.0
7,1001008.0,1001.0,0.0,-1.340335,-1.325014,0,0,0,1,1,0,0,1,0,0,0.0,0,0.0,18.0,18.0
16,1001017.0,1001.0,0.0,-1.343168,-0.486472,0,0,0,1,1,0,0,1,0,0,0.0,0,0.0,16.0,26.0
35,1002007.0,1002.0,0.0,-1.404596,NaN,0,0,0,1,0,0,0,1,0,0,0.0,0,0.0,16.0,NaN
50,1002022.0,1002.0,0.0,-1.876860,-1.860449,1,0,0,1,1,1,1,1,0,0,0.0,0,0.0,14.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13694,12084033.0,12084.0,1.0,2.744774,NaN,0,0,1,1,0,1,1,1,0,0,9.0,1,20000.0,52.0,NaN
13696,12084035.0,12084.0,1.0,1.811554,1.925075,1,1,1,1,1,1,1,1,0,0,9.0,1,14000.0,44.0,52.0
13699,12084038.0,12084.0,1.0,1.570482,1.675624,1,1,1,1,0,0,0,0,0,0,9.0,1,10000.0,40.0,48.0
13702,12084041.0,12084.0,1.0,1.495404,0.260547,1,1,1,0,0,1,1,1,0,0,9.0,1,8000.0,40.0,32.0
13718,12084057.0,12084.0,1.0,1.338925,0.654886,0,0,1,0,1,0,0,1,0,0,9.0,1,4000.0,40.0,40.0

In [52]:
df = final.merge(data[['pupil_id', 'pre_theta', 'pre_pp_b04']], on='pupil_id', how='inner')

In [53]:
df

,pupil_id,a01,treatment,pre_theta_sd,post_theta_sd,ple_tried,ple_pass,books_with,b_homework_pp,b_fem_pp,...,b_radio_pp,b_edhigh_teacher,b_fem_teacher,decile,scores_top,decile_decile,baseline_score,endline_score,pre_theta,pre_pp_b04
0,1001007.0,1001.0,0.0,-1.483738,-0.985368,0,0,0,0,1,...,1,0,0,0.0,0,0.0,18.0,20.0,-1.322955,16.0
1,1001008.0,1001.0,0.0,-1.340335,-1.325014,0,0,0,1,1,...,1,0,0,0.0,0,0.0,18.0,18.0,-1.195091,12.0
2,1001017.0,1001.0,0.0,-1.343168,-0.486472,0,0,0,1,1,...,1,0,0,0.0,0,0.0,16.0,26.0,-1.197617,12.0
3,1002007.0,1002.0,0.0,-1.404596,NaN,0,0,0,1,0,...,1,0,0,0.0,0,0.0,16.0,NaN,-1.252389,13.0
4,1002022.0,1002.0,0.0,-1.876860,-1.860449,1,0,0,1,1,...,1,0,0,0.0,0,0.0,14.0,14.0,-1.673477,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8783,12084033.0,12084.0,1.0,2.744774,NaN,0,0,1,1,0,...,1,0,0,9.0,1,20000.0,52.0,NaN,2.447341,12.0
8784,12084035.0,12084.0,1.0,1.811554,1.925075,1,1,1,1,1,...,1,0,0,9.0,1,14000.0,44.0,52.0,1.615249,11.0
8785,12084038.0,12084.0,1.0,1.570482,1.675624,1,1,1,1,0,...,0,0,0,9.0,1,10000.0,40.0,48.0,1.400300,13.0
8786,12084041.0,12084.0,1.0,1.495404,0.260547,1,1,1,0,0,...,1,0,0,9.0,1,8000.0,40.0,32.0,1.333358,14.0
8787,12084057.0,12084.0,1.0,1.338925,0.654886,0,0,1,0,1,...,1,0,0,9.0,1,4000.0,40.0,40.0,1.193835,13.0

In [83]:
df['Y2'] = df.decile_decile*0.000291/1.0938

In [84]:
(
    df[df.treatment==1].ple_tried.mean() - df[df.treatment==0].ple_tried.mean()
)/(df[df.treatment==1].Y2.mean() - df[df.treatment==0].Y2.mean())

0.003599596937879211

In [85]:
0.003599596937879211/df.ple_tried.max()

0.003599596937879211

In [45]:
from scipy import stats

print(stats.ks_2samp(
    df[df.treatment==0].pre_theta,
    df[df.treatment==1].pre_theta
))
stats.ttest_ind(
    df[df.treatment==0].pre_theta,
    df[df.treatment==1].pre_theta,
    nan_policy='omit'
)

Ks_2sampResult(statistic=0.04800227070313846, pvalue=1.0)

Ttest_indResult(statistic=4.5264095363391545, pvalue=6.078354385082483e-06)

In [64]:
ks_list = []
ttest_list = []
for dec in list(df.decile.unique()):
    df_tmp = df[df.decile==dec]
    print(f'decile number :   {dec}', '\n\n')
    ks = stats.ks_2samp(
        df_tmp[df_tmp.treatment==0].pre_pp_b04,
        df_tmp[df_tmp.treatment==1].pre_pp_b04
    )
    ks_list.append(ks.pvalue)
    print(ks)
    print('\n')
    ttest = stats.ttest_ind(
        df_tmp[df_tmp.treatment==0].pre_pp_b04,
        df_tmp[df_tmp.treatment==1].pre_pp_b04,
        nan_policy='omit'
    )
    ttest_list.append(ttest.pvalue)
    print(ttest)
    print('\n')
    print('_'*30)

decile number :   0.0


Ks_2sampResult(statistic=0.059303303432810074, pvalue=0.42626726931455083)


Ttest_indResult(statistic=-0.9619064378543467, pvalue=0.3363620404410016)


______________________________
decile number :   1.0


Ks_2sampResult(statistic=0.04071002850479399, pvalue=0.8395715194222467)


Ttest_indResult(statistic=-0.271852078786553, pvalue=0.7857997425528391)


______________________________
decile number :   2.0


Ks_2sampResult(statistic=0.02871619869514257, pvalue=0.9902902869686195)


Ttest_indResult(statistic=-0.5377334740994042, pvalue=0.590897487857015)


______________________________
decile number :   3.0


Ks_2sampResult(statistic=0.0470404984423676, pvalue=0.6915769716361089)


Ttest_indResult(statistic=1.5153245380708504, pvalue=0.1300509706071785)


______________________________
decile number :   4.0


Ks_2sampResult(statistic=0.016437082302928733, pvalue=0.9999999013776064)


Ttest_indResult(statistic=0.7174352239561378, pvalue=0.4732953362194652)


______________________________
decile number :   5.0


Ks_2sampResult(statistic=0.03126444509812161, pvalue=0.976971020957422)


Ttest_indResult(statistic=0.8566016993046132, pvalue=0.39190065162316945)


______________________________
decile number :   6.0


Ks_2sampResult(statistic=0.06015693112467306, pvalue=0.38350185909244405)


Ttest_indResult(statistic=1.7172645019032287, pvalue=0.08628430183126402)


______________________________
decile number :   7.0


Ks_2sampResult(statistic=0.11292376830202747, pvalue=0.006580351339959378)


Ttest_indResult(statistic=4.029661000003284, pvalue=6.071124086779406e-05)


______________________________
decile number :   8.0


Ks_2sampResult(statistic=0.046744366744366744, pvalue=0.6983002166045496)


Ttest_indResult(statistic=2.033645813793821, pvalue=0.042287907960497355)


______________________________
decile number :   9.0


Ks_2sampResult(statistic=0.11355712358617827, pvalue=0.006279622344943503)


Ttest_indResult(statistic=1.9978061444293012, pvalue=0.04604613360275906)


______________________________

In [67]:
np.mean(ks_list), np.mean(ttest_list)

(0.6019339019058451, 0.28829852839360576)

In [68]:
ks_list = []
ttest_list = []
for dec in list(df.decile.unique()):
    df_tmp = df[df.decile==dec]
    print(f'decile number :   {dec}', '\n\n')
    ks = stats.ks_2samp(
        df_tmp[df_tmp.treatment==0].b_fem_pp,
        df_tmp[df_tmp.treatment==1].b_fem_pp
    )
    ks_list.append(ks.pvalue)
    print(ks)
    print('\n')
    ttest = stats.ttest_ind(
        df_tmp[df_tmp.treatment==0].b_fem_pp,
        df_tmp[df_tmp.treatment==1].b_fem_pp,
        nan_policy='omit'
    )
    ttest_list.append(ttest.pvalue)
    print(ttest)
    print('\n')
    print('_'*30)

decile number :   0.0


Ks_2sampResult(statistic=0.03020420044850785, pvalue=0.9862907015534935)


Ttest_indResult(statistic=0.884294833633763, pvalue=0.3767794373297617)


______________________________
decile number :   1.0


Ks_2sampResult(statistic=0.010484581497797357, pvalue=1.0)


Ttest_indResult(statistic=-0.31303123382710746, pvalue=0.7543313579964139)


______________________________
decile number :   2.0


Ks_2sampResult(statistic=0.03436919789646195, pvalue=0.9467226942009982)


Ttest_indResult(statistic=-1.02124241574548, pvalue=0.3074212239927323)


______________________________
decile number :   3.0


Ks_2sampResult(statistic=0.024724818276220147, pvalue=0.998660157066395)


Ttest_indResult(statistic=0.7358348197827059, pvalue=0.4620282042846624)


______________________________
decile number :   4.0


Ks_2sampResult(statistic=0.03269022461117129, pvalue=0.963192028170017)


Ttest_indResult(statistic=0.9775915970195497, pvalue=0.32854410548159274)


______________________________
decile number :   5.0


Ks_2sampResult(statistic=0.007133252090599655, pvalue=1.0)


Ttest_indResult(statistic=0.21175184105320338, pvalue=0.8323501795906144)


______________________________
decile number :   6.0


Ks_2sampResult(statistic=0.08097729065471002, pvalue=0.10419566767980537)


Ttest_indResult(statistic=-2.414559131903055, pvalue=0.01595826491951496)


______________________________
decile number :   7.0


Ks_2sampResult(statistic=0.05879429245966823, pvalue=0.4107333030801913)


Ttest_indResult(statistic=-1.7523477301357069, pvalue=0.08006348393361154)


______________________________
decile number :   8.0


Ks_2sampResult(statistic=0.06344988344988345, pvalue=0.3208166568782881)


Ttest_indResult(statistic=-1.8834472791394388, pvalue=0.0599704562644246)


______________________________
decile number :   9.0


Ks_2sampResult(statistic=0.022719726055826502, pvalue=0.9996820902946666)


Ttest_indResult(statistic=-0.6724973991672822, pvalue=0.501444235307774)


______________________________

In [69]:
np.mean(ks_list), np.mean(ttest_list)

(0.7730293298923856, 0.37188909491011024)

In [79]:
ks_list = []
ttest_list = []
for dec in list(df.decile.unique()):
    df_tmp = df[df.decile==dec]
    print(f'decile number :   {dec}', '\n\n')
    ks = stats.ks_2samp(
        df_tmp[df_tmp.treatment==0].b_fem_teacher,
        df_tmp[df_tmp.treatment==1].b_fem_teacher
    )
    ks_list.append(ks.pvalue)
    print(ks)
    print('\n')
    ttest = stats.ttest_ind(
        df_tmp[df_tmp.treatment==0].b_fem_teacher,
        df_tmp[df_tmp.treatment==1].b_fem_teacher,
        nan_policy='omit'
    )
    ttest_list.append(ttest.pvalue)
    print(ttest)
    print('\n')
    print('_'*30)

decile number :   0.0


Ks_2sampResult(statistic=0.005029541141969985, pvalue=1.0)


Ttest_indResult(statistic=-0.20242380980703387, pvalue=0.8396323645553491)


______________________________
decile number :   1.0


Ks_2sampResult(statistic=0.05265612853070744, pvalue=0.5519558406990461)


Ttest_indResult(statistic=-2.0876515727326206, pvalue=0.03711736189398093)


______________________________
decile number :   2.0


Ks_2sampResult(statistic=0.02305282701822444, pvalue=0.9995838661156913)


Ttest_indResult(statistic=-0.8657864177025433, pvalue=0.3868440788582559)


______________________________
decile number :   3.0


Ks_2sampResult(statistic=0.03215991692627207, pvalue=0.9692810356470458)


Ttest_indResult(statistic=-1.2217822139675165, pvalue=0.2221186727102437)


______________________________
decile number :   4.0


Ks_2sampResult(statistic=0.01007582415336508, pvalue=1.0)


Ttest_indResult(statistic=-0.3879974700917286, pvalue=0.6981114229926739)


______________________________
decile number :   5.0


Ks_2sampResult(statistic=0.056887422784384585, pvalue=0.45774388429425894)


Ttest_indResult(statistic=-2.1340997818372114, pvalue=0.033113328413394906)


______________________________
decile number :   6.0


Ks_2sampResult(statistic=0.02722422883713206, pvalue=0.9947511297503383)


Ttest_indResult(statistic=-0.998451567343303, pvalue=0.318336154370049)


______________________________
decile number :   7.0


Ks_2sampResult(statistic=0.03464700644065691, pvalue=0.9424582745559894)


Ttest_indResult(statistic=-1.350929435972446, pvalue=0.1770664645783529)


______________________________
decile number :   8.0


Ks_2sampResult(statistic=0.06111888111888112, pvalue=0.3645224933843467)


Ttest_indResult(statistic=-2.3463555350710723, pvalue=0.019179773860310424)


______________________________
decile number :   9.0


Ks_2sampResult(statistic=0.03495382380408841, pvalue=0.939546616864988)


Ttest_indResult(statistic=-1.2342621260041444, pvalue=0.2174358713812608)


______________________________

In [80]:
np.mean(ks_list), np.mean(ttest_list)

(0.8219843141311705, 0.2948955493613872)

In [78]:
from scipy import stats

print(stats.ks_2samp(
    df[df.treatment==0].b_fem_teacher,
    df[df.treatment==1].b_fem_teacher
))
stats.ttest_ind(
    df[df.treatment==0].b_fem_teacher,
    df[df.treatment==1].b_fem_teacher,
    nan_policy='omit'
)

Ks_2sampResult(statistic=0.03189923547642164, pvalue=1.0)

Ttest_indResult(statistic=-3.840440033247233, pvalue=0.00012367709088040405)

In [43]:
final.to_csv('Gilligan_data.csv', index=False)

In [63]:
final.groupby('treatment').agg({'endline_score': 'mean', 'ple_tried': 'mean', 'ple_pass': 'mean'})

           endline_score  ple_tried  ple_pass
treatment
0.0            31.490347   0.424194  0.344615
1.0            31.168329   0.434655  0.337939

In [65]:
data.groupby('treat').agg({'endline_score': 'mean'})

           endline_score
treat
Control        31.017262
Treatment      30.606539

In [49]:
final.endline_score

6        20.0
7        18.0
16       26.0
35        NaN
50       14.0
         ...
13694     NaN
13696    52.0
13699    48.0
13702    32.0
13718    40.0
Name: endline_score, Length: 8788, dtype: float32

In [54]:
final_upd = final.dropna()

In [55]:
final_upd

,pupil_id,a01,treatment,pre_theta_sd,post_theta_sd,ple_tried,ple_pass,books_with,b_homework_pp,b_fem_pp,b_elec_pp,b_cement_pp,b_radio_pp,b_edhigh_teacher,b_fem_teacher,decile,scores_top,decile_decile,baseline_score,endline_score
6,1001007.0,1001.0,0.0,-1.483738,-0.985368,0,0,0,0,1,0,0,1,0,0,0.0,0,14000.0,18.0,20.0
7,1001008.0,1001.0,0.0,-1.340335,-1.325014,0,0,0,1,1,0,0,1,0,0,0.0,0,18000.0,18.0,18.0
16,1001017.0,1001.0,0.0,-1.343168,-0.486472,0,0,0,1,1,0,0,1,0,0,0.0,0,18000.0,16.0,26.0
50,1002022.0,1002.0,0.0,-1.876860,-1.860449,1,0,0,1,1,1,1,1,0,0,0.0,0,8000.0,14.0,14.0
53,1002025.0,1002.0,0.0,-1.838599,-0.888383,0,0,0,0,0,0,0,1,0,0,0.0,0,8000.0,12.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13664,12084003.0,12084.0,1.0,1.914679,1.957615,0,0,0,1,0,0,1,1,0,0,9.0,1,16000.0,44.0,54.0
13696,12084035.0,12084.0,1.0,1.811554,1.925075,1,1,0,1,1,1,1,1,0,0,9.0,1,14000.0,44.0,52.0
13699,12084038.0,12084.0,1.0,1.570482,1.675624,1,1,0,1,0,0,0,0,0,0,9.0,1,10000.0,40.0,48.0
13702,12084041.0,12084.0,1.0,1.495404,0.260547,1,1,0,0,0,1,1,1,0,0,9.0,1,8000.0,40.0,32.0
13718,12084057.0,12084.0,1.0,1.338925,0.654886,0,0,0,0,1,0,0,1,0,0,9.0,1,4000.0,40.0,40.0

In [57]:
final_upd.loc[
    final_upd.treatment==0, 'decile_decile'
] = 0

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [59]:
final_upd[final_upd.treatment==0].decile_decile

6        0.0
7        0.0
16       0.0
50       0.0
53       0.0
        ...
13491    0.0
13500    0.0
13501    0.0
13575    0.0
13587    0.0
Name: decile_decile, Length: 3044, dtype: float64

In [51]:
final.endline_score.min(), final.endline_score.max()

(0.0, 74.0)

In [270]:
df_with_ref_group[['endline_score', 'post_theta_sd']]

       endline_score  post_theta_sd
10199            2.0      -3.165067
11459            NaN            NaN
3164             NaN            NaN
1564             0.0      -3.768414
9564             NaN            NaN
...              ...            ...
9406             NaN            NaN
5327            58.0       2.425363
5565            58.0       2.372752
4924             NaN            NaN
1289             NaN            NaN

[8788 rows x 2 columns]

In [70]:
final.books_with

6        0
7        0
16       0
35       0
50       0
        ..
13694    0
13696    0
13699    0
13702    0
13718    0
Name: books_with, Length: 8788, dtype: int64

In [63]:
list_of_outcomes = ['post_sd', 'e_int_pp', 'r3_att_pp', 'r3_att_p7_pp', 'ple_tried', 'ple_pass']

In [80]:
data.pre_theta

0        0.705602
1        0.400166
2        0.138332
3        0.421661
4        0.990663
           ...
13734         NaN
13735         NaN
13736         NaN
13737         NaN
13738         NaN
Name: pre_theta, Length: 13739, dtype: float32

In [8]:
[col for col in data.columns if 'mt' in col]

['pre_mt_a07',
 'pre_mt_b01',
 'pre_mt_b02',
 'pre_mt_b03',
 'pre_mt_b04',
 'pre_mt_b05a',
 'pre_mt_b05b',
 'pre_mt_b05c',
 'pre_mt_b05d',
 'pre_mt_b06_1_a',
 'pre_mt_b06_1_b',
 'pre_mt_b06_1_c',
 'pre_mt_b06_1_d',
 'pre_mt_b06_1_e',
 'pre_mt_b06_1_f',
 'pre_mt_b06_1_g',
 'pre_mt_b06_1_h',
 'pre_mt_b06_2_a',
 'pre_mt_b06_2_b',
 'pre_mt_b06_2_c',
 'pre_mt_b06_2_d',
 'pre_mt_b06_2_e',
 'pre_mt_b06_2_f',
 'pre_mt_b06_2_g',
 'pre_mt_b06_2_h',
 'pre_mt_b06_3_a',
 'pre_mt_b06_3_b',
 'pre_mt_b06_3_c',
 'pre_mt_b06_3_d',
 'pre_mt_b06_3_e',
 'pre_mt_b06_3_f',
 'pre_mt_b06_3_g',
 'pre_mt_b06_3_h',
 'pre_mt_b06_4_a',
 'pre_mt_b06_4_b',
 'pre_mt_b06_4_c',
 'pre_mt_b06_4_d',
 'pre_mt_b06_4_e',
 'pre_mt_b06_4_f',
 'pre_mt_b06_4_g',
 'pre_mt_b06_4_h',
 'pre_mt_b06_5_a',
 'pre_mt_b06_5_b',
 'pre_mt_b06_5_c',
 'pre_mt_b06_5_d',
 'pre_mt_b06_5_e',
 'pre_mt_b06_5_f',
 'pre_mt_b06_5_g',
 'pre_mt_b06_5_h',
 'pre_mt_b07',
 'pre_mt_b08',
 'pre_mt_b09',
 'pre_mt_b10',
 'pre_mt_b11',
 'pre_mt_b12',
 'pre_mt_c01',
 'pre_mt_c02',
 'pre_mt_dc01',
 'pre_mt_dc02',
 'pre_mt_dt00',
 'pre_mt_dt01',
 'pre_mt_dt03',
 'pre_mt_dt04',
 'pre_mt_dt05',
 'pre_mt_dt06',
 'pre_mt_dt07',
 'pre_mt_dt13',
 'post_mt_t1_a07',
 'post_mt_t1_a11',
 'post_mt_t1_b01',
 'post_mt_t1_b02',
 'post_mt_t1_b03',
 'post_mt_t1_b04',
 'post_mt_t1_b05a',
 'post_mt_t1_b05b',
 'post_mt_t1_b05c',
 'post_mt_t1_b05e',
 'post_mt_t1_b05f',
 'post_mt_t1_b05d',
 'post_mt_t1_b06_1',
 'post_mt_t1_b06_2',
 'post_mt_t1_b06_3',
 'post_mt_t1_b06_4',
 'post_mt_t1_b06_5',
 'post_mt_t1_b07',
 'post_mt_t1_b08',
 'post_mt_t1_b09',
 'post_mt_t1_b13',
 'post_mt_t1_b14',
 'post_mt_t1_b11',
 'post_mt_t1_b12',
 'post_mt_t1_b15',
 'post_mt_t1_b16',
 'post_mt_t1_b17a',
 'post_mt_t1_b17b',
 'post_mt_t1_b18a',
 'post_mt_t1_b18b',
 'post_mt_t1_c01',
 'post_mt_t1_c01a',
 'post_mt_t1_c02',
 'post_mt_t1_dc01',
 'post_mt_t1_dc02',
 'post_mt_t1_dt01',
 'post_mt_t1_dt03',
 'post_mt_t1_dt04',
 'post_mt_t1_dt05',
 'post_mt_t1_dt06',
 'post_mt_t1_dt07',
 'post_mt_t1_dt14',
 'post_mt_t1_dt15',
 'post_mt_t1_dt16',
 'post_mt_t1_e00a',
 'post_mt_t1_e00b',
 'post_mt_t1_e00c',
 'post_mt_t1_e00d',
 'post_mt_t1_e01a',
 'post_mt_t1_e01_mm',
 'post_mt_t1_e01_yy',
 'post_mt_t1_e02',
 'post_mt_t1_e03',
 'post_mt_t1_e04',
 'post_mt_t1_e05',
 'post_mt_t1_e06',
 'post_mt_t1_e07',
 'post_mt_t1_e08',
 'post_mt_t1_e09',
 'post_mt_t1_e10',
 'post_mt_t1_e11',
 'post_mt_t1_e12a',
 'post_mt_t1_e12b',
 'post_mt_t1_e13a',
 'post_mt_t1_e13b',
 'post_mt_t1_e14',
 'post_mt_t1_e15',
 'post_mt_t1_e16',
 'post_mt_t2_a07',
 'post_mt_t2_a08d',
 'post_mt_t2_a11',
 'post_mt_t2_b01',
 'post_mt_t2_b02',
 'post_mt_t2_b03',
 'post_mt_t2_b04',
 'post_mt_t2_b05a',
 'post_mt_t2_b05b',
 'post_mt_t2_b05c',
 'post_mt_t2_b05e',
 'post_mt_t2_b05f',
 'post_mt_t2_b05d',
 'post_mt_t2_b06_1',
 'post_mt_t2_b06_2',
 'post_mt_t2_b06_3',
 'post_mt_t2_b06_4',
 'post_mt_t2_b06_5',
 'post_mt_t2_b07',
 'post_mt_t2_b08',
 'post_mt_t2_b09',
 'post_mt_t2_b13',
 'post_mt_t2_b14',
 'post_mt_t2_b11',
 'post_mt_t2_b12',
 'post_mt_t2_b15',
 'post_mt_t2_b16',
 'post_mt_t2_b17a',
 'post_mt_t2_b17b',
 'post_mt_t2_b18a',
 'post_mt_t2_b18b',
 'post_mt_t2_c01',
 'post_mt_t2_c01a',
 'post_mt_t2_c02',
 'post_mt_t2_dc01',
 'post_mt_t2_dc02',
 'post_mt_t2_dt01',
 'post_mt_t2_dt03',
 'post_mt_t2_dt04',
 'post_mt_t2_dt05',
 'post_mt_t2_dt06',
 'post_mt_t2_dt07',
 'post_mt_t2_dt14',
 'post_mt_t2_dt15',
 'post_mt_t2_dt16',
 'post_mt_t2_e00a',
 'post_mt_t2_e00b',
 'post_mt_t2_e00c',
 'post_mt_t2_e00d',
 'post_mt_t2_e01a',
 'post_mt_t2_e01_mm',
 'post_mt_t2_e01_yy',
 'post_mt_t2_e02',
 'post_mt_t2_e03',
 'post_mt_t2_e04',
 'post_mt_t2_e05',
 'post_mt_t2_e06',
 'post_mt_t2_e07',
 'post_mt_t2_e08',
 'post_mt_t2_e09',
 'post_mt_t2_e10',
 'post_mt_t2_e11',
 'post_mt_t2_e12a',
 'post_mt_t2_e12b',
 'post_mt_t2_e13a',
 'post_mt_t2_e13b',
 'post_mt_t2_e14',
 'post_mt_t2_e15',
 'post_mt_t2_e16']

In [176]:
for col in list(data.columns):
    print('_'*100)
    print(data[col].value_counts())

____________________________________________________________________________________________________
11010004.0    1
5081017.0     1
12028004.0    1
5065101.0     1
5065025.0     1
             ..
1005048.0     1
6009111.0     1
2005019.0     1
1005045.0     1
9039009.0     1
Name: pupil_id, Length: 13739, dtype: int64
____________________________________________________________________________________________________
8014.0     99
10032.0    96
3003.0     96
12018.0    91
1002.0     91
           ..
11026.0    14
11002.0    13
6012.0     12
10052.0     8
11036.0     8
Name: a01, Length: 299, dtype: int64
____________________________________________________________________________________________________
30.0    824
28.0    821
26.0    792
32.0    762
24.0    738
34.0    717
22.0    658
36.0    581
20.0    551
38.0    430
18.0    418
40.0    308
16.0    273
42.0    223
14.0    161
44.0    145
12.0    118
10.0     78
46.0     75
48.0     50
8.0      46
6.0      31
50.0     28
52.0     16
4.0      11
2.0       8
56.0      1
58.0      1
60.0      1
Name: baseline_score, dtype: int64
____________________________________________________________________________________________________
26.0    623
30.0    622
28.0    581
32.0    579
24.0    556
22.0    539
36.0    532
34.0    497
38.0    437
20.0    437
40.0    415
18.0    352
42.0    332
44.0    281
16.0    280
46.0    230
14.0    192
48.0    189
50.0    138
12.0    124
52.0    113
54.0     71
10.0     68
8.0      50
56.0     47
58.0     38
6.0      28
60.0     25
4.0      16
62.0      8
2.0       7
64.0      4
0.0       4
66.0      4
70.0      3
68.0      3
74.0      1
Name: endline_score, dtype: int64
____________________________________________________________________________________________________
Control      6881
Treatment    6858
Name: treat, dtype: int64
____________________________________________________________________________________________________
1.0    4473
2.0    4393
Name: pre_form, dtype: int64
____________________________________________________________________________________________________
2.0    7688
0.0    1178
Name: pre_q1, dtype: int64
____________________________________________________________________________________________________
2.0    4480
0.0    4386
Name: pre_q2, dtype: int64
____________________________________________________________________________________________________
2.0    4574
0.0    4292
Name: pre_q3, dtype: int64
____________________________________________________________________________________________________
2.0    8305
0.0     561
Name: pre_q4, dtype: int64
____________________________________________________________________________________________________
2.0    7016
0.0    1850
Name: pre_q5, dtype: int64
____________________________________________________________________________________________________
2.0    7240
0.0    1626
Name: pre_q6, dtype: int64
____________________________________________________________________________________________________
2.0    6726
0.0    2140
Name: pre_q7, dtype: int64
____________________________________________________________________________________________________
2.0    5511
0.0    3355
Name: pre_q8, dtype: int64
____________________________________________________________________________________________________
2.0    7761
0.0    1105
Name: pre_q9, dtype: int64
____________________________________________________________________________________________________
2.0    7034
0.0    1832
Name: pre_q10, dtype: int64
____________________________________________________________________________________________________
2.0    7105
0.0    1760
Name: pre_q11, dtype: int64
____________________________________________________________________________________________________
0.0    6047
2.0    2818
Name: pre_q12, dtype: int64
____________________________________________________________________________________________________
0.0    5962
2.0    2903
Name: pre_q13, dtype: int64
____________________________________________________________________________________________________
2.0    6859
0.0    2006
Name: pre_q14, dtype: int64
____________________________________________________________________________________________________
0.0    7949
2.0     916
Name: pre_q15, dtype: int64
____________________________________________________________________________________________________
0.0    7889
2.0     902
Name: pre_q16, dtype: int64
____________________________________________________________________________________________________
2.0    4989
0.0    3802
Name: pre_q17, dtype: int64
____________________________________________________________________________________________________
0.0    6689
2.0    2102
Name: pre_q18, dtype: int64
____________________________________________________________________________________________________
0.0    6100
2.0    2692
Name: pre_q19, dtype: int64
____________________________________________________________________________________________________
2.0    7415
0.0    1451
Name: pre_q20, dtype: int64
____________________________________________________________________________________________________
0.0    8004
2.0     862
Name: pre_q21, dtype: int64
____________________________________________________________________________________________________
0.0    4945
2.0    3763
1.0     158
Name: pre_q22, dtype: int64
____________________________________________________________________________________________________
0.0    5064
2.0    3626
1.0     176
Name: pre_q23, dtype: int64
____________________________________________________________________________________________________
2.0    4427
0.0    4308
1.0     131
Name: pre_q24, dtype: int64
____________________________________________________________________________________________________
0.0    7935
2.0     930
1.0       1
Name: pre_q25, dtype: int64
____________________________________________________________________________________________________
0.0    4379
2.0    4357
1.0     129
Name: pre_q26, dtype: int64
____________________________________________________________________________________________________
0.0    8709
2.0     150
1.0       6
Name: pre_q27, dtype: int64
____________________________________________________________________________________________________
0.0    8069
2.0     792
1.0       3
Name: pre_q28, dtype: int64
____________________________________________________________________________________________________
0.0    8658
2.0     206
Name: pre_q29, dtype: int64
____________________________________________________________________________________________________
0.0    8199
2.0     666
Name: pre_q30, dtype: int64
____________________________________________________________________________________________________
8014.0     88
10032.0    87
2004.0     80
10041.0    79
9034.0     79
           ..
5021.0     12
6012.0      9
6043.0      8
10052.0     7
11036.0     5
Name: pre_a01, Length: 299, dtype: int64
____________________________________________________________________________________________________
21.0    971
19.0    939
24.0    905
16.0    877
26.0    874
36.0    816
34.0    792
8.0     768
23.0    761
12.0    760
30.0    760
32.0    693
40.0    668
28.0    667
33.0    604
Name: pre_ar_a07, dtype: int64
____________________________________________________________________________________________________
Inside     11790
Outside       65
Name: pre_ar_a10, dtype: int64
____________________________________________________________________________________________________
1.0     299
3.0     299
4.0     299
5.0     299
2.0     298
       ...
87.0      2
85.0      2
81.0      2
82.0      2
88.0      1
Name: pre_ar_b00, Length: 88, dtype: int64
____________________________________________________________________________________________________
Yes    8867
No     2988
Name: pre_ar_b02, dtype: int64
____________________________________________________________________________________________________
Desk (chair and table attached)    8267
Bench only                          303
Bench and table                     292
Floor                                 5
Chair and table                       2
Name: pre_ar_c02, dtype: int64
____________________________________________________________________________________________________
No     8713
Yes     154
Name: pre_ar_c03, dtype: int64
____________________________________________________________________________________________________
21.0    971
19.0    939
24.0    905
16.0    877
26.0    874
36.0    816
34.0    792
8.0     768
23.0    761
12.0    760
30.0    760
32.0    693
40.0    668
28.0    667
33.0    604
Name: pre_nr_a07, dtype: int64
____________________________________________________________________________________________________
Yes    9441
No     2414
Name: pre_nr_a10, dtype: int64
____________________________________________________________________________________________________
Yes                      9196
Picture already taken     245
Name: pre_nr_a11, dtype: int64
____________________________________________________________________________________________________
1.0     299
3.0     299
4.0     299
5.0     299
2.0     298
       ...
87.0      2
85.0      2
81.0      2
82.0      2
88.0      1
Name: pre_nr_b00, Length: 88, dtype: int64
____________________________________________________________________________________________________
Yes    9132
No      309
Name: pre_nr_b02, dtype: int64
____________________________________________________________________________________________________
1.0     269
2.0     261
5.0     260
3.0     259
9.0     256
       ...
83.0      2
86.0      1
85.0      1
82.0      1
87.0      1
Name: pre_pp_a09a, Length: 86, dtype: int64
____________________________________________________________________________________________________
34.0    462
21.0    448
19.0    448
12.0    394
16.0    383
26.0    381
23.0    353
33.0    349
8.0     348
40.0    342
24.0    325
36.0    324
32.0    323
29.0    306
20.0    305
22.0    301
30.0    300
28.0    283
27.0    272
18.0    267
11.0    240
14.0    233
9.0     222
17.0    214
37.0    201
7.0     198
6.0     195
15.0    154
25.0    146
13.0    131
2.0      14
3.0       1
31.0      1
Name: pre_pp_a07, dtype: int64
____________________________________________________________________________________________________
Yes    8864
Name: pre_pp_a11, dtype: int64
____________________________________________________________________________________________________
Yes    4530
No     3346
Name: pre_pp_b01a, dtype: int64
____________________________________________________________________________________________________
Yes    2311
No     1035
Name: pre_pp_b01b, dtype: int64
____________________________________________________________________________________________________
Yes    5325
No     2551
Name: pre_pp_b02a, dtype: int64
____________________________________________________________________________________________________
Yes    1995
No      556
Name: pre_pp_b02b, dtype: int64
____________________________________________________________________________________________________
Female    4806
Male      4058
Name: pre_pp_b03, dtype: int64
____________________________________________________________________________________________________
13.0    2758
14.0    2257
12.0    1745
15.0     934
11.0     704
16.0     258
10.0     151
17.0      35
18.0       9
9.0        4
19.0       3
1.0        1
3.0        1
2.0        1
0.0        1
5.0        1
24.0       1
Name: pre_pp_b04, dtype: int64
____________________________________________________________________________________________________
Yes    7458
No     1406
Name: pre_pp_b05, dtype: int64
____________________________________________________________________________________________________
0.0     3750
1.0     2400
2.0     1466
3.0      658
4.0      336
5.0      151
6.0       59
7.0       19
8.0       13
10.0       6
9.0        3
11.0       2
14.0       1
Name: pre_pp_b06, dtype: int64
____________________________________________________________________________________________________
1.0     2723
0.0     2623
2.0     1989
3.0      958
4.0      377
5.0      136
6.0       43
8.0        7
7.0        6
16.0       1
10.0       1
Name: pre_pp_b07, dtype: int64
____________________________________________________________________________________________________
0.0     3801
1.0     2437
2.0     1399
3.0      679
4.0      302
5.0      150
6.0       61
7.0       22
8.0        7
9.0        2
30.0       1
42.0       1
10.0       1
12.0       1
Name: pre_pp_b08, dtype: int64
____________________________________________________________________________________________________
0.0     2794
1.0     2646
2.0     1845
3.0      982
4.0      407
5.0      124
6.0       46
7.0        9
8.0        6
9.0        2
22.0       1
12.0       1
10.0       1
Name: pre_pp_b09, dtype: int64
____________________________________________________________________________________________________
Yes    8306
No      558
Name: pre_pp_b10, dtype: int64
____________________________________________________________________________________________________
No     4450
Yes    3860
Name: pre_pp_b11, dtype: int64
____________________________________________________________________________________________________
A few math lessons    2762
Never                 2659
Some math lessons     2218
Most math lessons      830
Every math lesson      395
Name: pre_pp_b12, dtype: int64
____________________________________________________________________________________________________
Some math lessons     3573
Most math lessons     1944
A few math lessons    1882
Every math lesson     1255
Never                  210
Name: pre_pp_b13, dtype: int64
____________________________________________________________________________________________________
Some math lessons     3773
A few math lessons    2481
Most math lessons     1719
Every math lesson      619
Never                  272
Name: pre_pp_b14, dtype: int64
____________________________________________________________________________________________________
Never                 4675
A few math lessons    2321
Some math lessons     1351
Most math lessons      403
Every math lesson      114
Name: pre_pp_b15, dtype: int64
____________________________________________________________________________________________________
Never                 4817
A few math lessons    2087
Some math lessons     1339
Most math lessons      382
Every math lesson      239
Name: pre_pp_b16, dtype: int64
____________________________________________________________________________________________________
No            5312
Yes           3243
Don't know     309
Name: pre_pp_b17, dtype: int64
____________________________________________________________________________________________________
Always              7684
Most of the time    1076
Some of the time     101
Never                  3
Name: pre_pp_b18, dtype: int64
____________________________________________________________________________________________________
No     5155
Yes    3709
Name: pre_pp_c01a, dtype: int64
____________________________________________________________________________________________________
No     4641
Yes    4223
Name: pre_pp_c01b, dtype: int64
____________________________________________________________________________________________________
Yes    7414
No     1450
Name: pre_pp_c01c, dtype: int64
____________________________________________________________________________________________________
Yes    5569
No     3295
Name: pre_pp_c01d, dtype: int64
____________________________________________________________________________________________________
Yes    8228
No      636
Name: pre_pp_c01e, dtype: int64
____________________________________________________________________________________________________
Yes    8862
No        2
Name: pre_pp_d01, dtype: int64
____________________________________________________________________________________________________
Yes                      8828
Picture already taken      34
Name: pre_pp_d02, dtype: int64
____________________________________________________________________________________________________
21.0    971
19.0    890
16.0    877
26.0    874
24.0    854
34.0    792
36.0    791
8.0     768
12.0    760
23.0    754
30.0    739
32.0    693
28.0    629
33.0    604
40.0    603
25.0     65
22.0     51
14.0     49
27.0     38
18.0     25
29.0     21
17.0      7
Name: pre_et_a07, dtype: int64
____________________________________________________________________________________________________
Control      191
Treatment     19
Name: pre_et_a10, dtype: int64
____________________________________________________________________________________________________
Yes    11855
Name: pre_et_b01, dtype: int64
____________________________________________________________________________________________________
Yes    11855
Name: pre_et_b02, dtype: int64
____________________________________________________________________________________________________
Yes    10118
No      1737
Name: pre_et_b03, dtype: int64
____________________________________________________________________________________________________
P6 teacher changed                         1415
Previous P6 math teacher name incorrect     322
Name: pre_et_b04b, dtype: int64
____________________________________________________________________________________________________
Yes    11823
No        32
Name: pre_et_b05, dtype: int64
____________________________________________________________________________________________________
Yes    11823
No        32
Name: pre_et_b06a, dtype: int64
____________________________________________________________________________________________________
Temporarily away or absent from school    32
Name: pre_et_b06b, dtype: int64
____________________________________________________________________________________________________
Yes    32
Name: pre_et_b07a, dtype: int64
____________________________________________________________________________________________________
Series([], Name: pre_et_b07b, dtype: int64)
____________________________________________________________________________________________________
Eligible    11855
Name: pre_et_b08, dtype: int64
____________________________________________________________________________________________________
Yes    11855
Name: pre_et_c01, dtype: int64
____________________________________________________________________________________________________
20.0    971
14.0    939
11.0    877
9.0     874
22.0    862
18.0    816
6.0     803
15.0    792
37.0    776
17.0    761
29.0    760
25.0    668
27.0    667
7.0     647
13.0    604
2.0      38
Name: pre_ht_a07, dtype: int64
____________________________________________________________________________________________________
Yes    11855
Name: pre_ht_a10, dtype: int64
____________________________________________________________________________________________________
Yes    9224
No     2631
Name: pre_ht_a11, dtype: int64
____________________________________________________________________________________________________
Deputy head teacher/assistant    2162
Other teacher                     265
P7 teacher                        150
P6 math teacher                    54
Name: pre_ht_a12, dtype: int64
____________________________________________________________________________________________________
Male      7515
Female    4286
Name: pre_ht_b01, dtype: int64
____________________________________________________________________________________________________
45.0    917
43.0    832
38.0    827
40.0    780
44.0    746
39.0    590
48.0    588
50.0    581
46.0    529
55.0    478
49.0    445
35.0    418
42.0    389
52.0    388
47.0    362
41.0    361
57.0    307
51.0    293
37.0    289
54.0    275
36.0    252
30.0    184
34.0    175
58.0    162
59.0    150
53.0    139
56.0    136
32.0     90
31.0     65
28.0     29
33.0     24
Name: pre_ht_b02, dtype: int64

No     9397
Yes    2458
Name: pre_ht_b11a, dtype: int64
____________________________________________________________________________________________________
No     2405
Yes     109
Name: pre_ht_b11b_1, dtype: int64
____________________________________________________________________________________________________
No     2127
Yes     387
Name: pre_ht_b11b_2, dtype: int64
____________________________________________________________________________________________________
Yes    1284
No     1230
Name: pre_ht_b11b_3, dtype: int64
____________________________________________________________________________________________________
Yes    1947
No      567
Name: pre_ht_b11b_4, dtype: int64
____________________________________________________________________________________________________
203.0    214
204.0    179
219.0    176
268.0    174
238.0    166
        ...
47.0      14
80.0      13
43.0       9
45.0       8
34.0       5
Name: pre_ht_c01a, Length: 191, dtype: int64
____________________________________________________________________________________________________
263.0    191
244.0    181
191.0    176
195.0    169
249.0    168
        ...
264.0     13
36.0       9
25.0       8
61.0       7
29.0       5
Name: pre_ht_c01b, Length: 194, dtype: int64
____________________________________________________________________________________________________
P6    5916
P5    3182
P4    1240
P7    1185
P3     192
P2     105
P1      35
Name: pre_ht_c02, dtype: int64
____________________________________________________________________________________________________
30.0     829
18.0     707
21.0     661
27.0     649
20.0     566
28.0     547
14.0     491
17.0     475
13.0     450
23.0     441
26.0     419
25.0     372
19.0     347
15.0     339
22.0     330
12.0     323
16.0     321
40.0     319
24.0     300
32.0     290
35.0     271
10.0     239
44.0     236
11.0     220
29.0     215
33.0     197
39.0     193
36.0     145
31.0     138
9.0      120
7.0       95
51.0      87
43.0      86
45.0      80
8.0       77
46.0      60
6.0       57
999.0     56
5.0       46
4.0       34
34.0      22
2.0        5
Name: pre_ht_c03a, dtype: int64
____________________________________________________________________________________________________
20.0     672
30.0     640
33.0     608
39.0     607
22.0     548
38.0     470
23.0     460
28.0     452
19.0     452
25.0     439
21.0     434
17.0     432
36.0     395
26.0     373
27.0     355
34.0     348
29.0     343
18.0     302
35.0     236
12.0     229
32.0     218
15.0     197
37.0     193
43.0     192
11.0     186
13.0     185
10.0     182
14.0     179
40.0     161
24.0     146
42.0     146
16.0     141
7.0      114
9.0       89
45.0      88
31.0      81
56.0      72
54.0      71
6.0       71
8.0       70
59.0      69
999.0     56
48.0      53
5.0       45
2.0       21
1.0       21
3.0       13
Name: pre_ht_c03b, dtype: int64
____________________________________________________________________________________________________
19.0     790
18.0     680
22.0     628
21.0     606
11.0     584
20.0     578
12.0     548
14.0     528
16.0     454
23.0     407
30.0     398
17.0     389
13.0     382
29.0     375
28.0     367
15.0     335
10.0     323
27.0     322
25.0     283
24.0     270
26.0     265
35.0     240
8.0      239
9.0      217
32.0     197
40.0     188
31.0     167
7.0      127
34.0     127
6.0      111
50.0      87
5.0       86
999.0     83
44.0      80
2.0       76
39.0      75
99.0      57
37.0      57
1.0       46
4.0       29
3.0       27
43.0      14
33.0      13
Name: pre_ht_c04a, dtype: int64
____________________________________________________________________________________________________
17.0     761
19.0     680
27.0     656
29.0     611
18.0     593
23.0     550
24.0     479
20.0     456
26.0     445
25.0     436
14.0     395
12.0     347
11.0     347
34.0     331
28.0     325
22.0     321
32.0     305
30.0     290
10.0     280
38.0     269
33.0     256
37.0     222
16.0     211
13.0     209
21.0     203
31.0     198
15.0     197
7.0      168
39.0     155
35.0     150
9.0      138
6.0      131
36.0     126
48.0     125
999.0     83
5.0       76
1.0       74
50.0      71
54.0      69
8.0       51
0.0       38
2.0       14
3.0       13
Name: pre_ht_c04b, dtype: int64
____________________________________________________________________________________________________
0.0      2773
2.0      2076
1.0      1893
3.0      1146
5.0       988
4.0       741
6.0       502
8.0       492
9.0       418
7.0       227
10.0       90
13.0       88
14.0       74
12.0       69
99.0       57
11.0       54
22.0       49
18.0       46
16.0       45
999.0      27
Name: pre_ht_c05a, dtype: int64
____________________________________________________________________________________________________
0.0      2304
1.0      1818
3.0      1614
4.0      1487
2.0      1341
5.0       837
8.0       707
6.0       681
7.0       403
9.0       182
11.0      103
25.0       95
10.0       89
16.0       88
12.0       79
999.0      27
Name: pre_ht_c05b, dtype: int64
____________________________________________________________________________________________________
Have not learned the previous class' material    6542
Wouldn't be ready for PLE                        3763
Other                                            1154
Not mature enough                                 396
Name: pre_ht_c06, dtype: int64
____________________________________________________________________________________________________
Yes    6835
No     5020
Name: pre_ht_c07, dtype: int64
____________________________________________________________________________________________________
0.0    7864
1.0    3224
2.0     525
3.0     169
4.0      73
Name: pre_ht_c09a, dtype: int64
____________________________________________________________________________________________________
0.0    4786
1.0    3958
2.0    1571
3.0     778
4.0     488
5.0     201
6.0      50
9.0      23
Name: pre_ht_c09b, dtype: int64
____________________________________________________________________________________________________
1.0      6731
2.0      2521
0.0      1309
3.0       654
4.0       323
8.0       141
5.0        61
9.0        38
7.0        31
999.0      30
17.0       16
Name: pre_ht_c10a, dtype: int64
____________________________________________________________________________________________________
3.0      2112
1.0      2011
2.0      1835
5.0      1346
4.0      1089
0.0      1026
6.0       917
7.0       479
8.0       340
10.0      316
9.0       133
12.0      103
11.0       69
15.0       33
999.0      30
50.0       16
Name: pre_ht_c10b, dtype: int64
____________________________________________________________________________________________________
Yes    9727
No     2128
Name: pre_ht_c11a, dtype: int64
____________________________________________________________________________________________________
Yes    9221
No      506
Name: pre_ht_c11b, dtype: int64
____________________________________________________________________________________________________
0.0     5912
1.0      776
2.0      425
4.0      348
3.0      274
6.0      186
11.0     169
7.0      166
9.0      161
5.0       99
10.0      97
21.0      96
8.0       95
20.0      56
18.0      56
14.0      51
13.0      50
17.0      47
27.0      45
23.0      44
15.0      15
Name: pre_ht_c12a_1, dtype: int64
____________________________________________________________________________________________________
4.0     529
0.0     496
1.0     456
9.0     436
5.0     403
6.0     381
14.0    381
11.0    361
8.0     350
2.0     308
37.0    275
13.0    265
16.0    261
22.0    220
3.0     220
50.0    219
26.0    211
19.0    202
49.0    197
28.0    188
10.0    181
17.0    180
15.0    164
25.0    159
7.0     157
20.0    153
21.0    130
27.0    125
30.0    124
18.0    116
62.0    102
12.0     96
38.0     96
32.0     94
24.0     93
77.0     89
68.0     79
42.0     77
23.0     65
33.0     55
31.0     53
34.0     53
48.0     51
35.0     51
87.0     50
58.0     40
29.0     38
84.0     29
39.0     28
60.0     21
44.0     17
45.0     15
59.0     15
36.0     13
Name: pre_ht_c12a_2, dtype: int64
____________________________________________________________________________________________________
5.0     719
8.0     647
9.0     615
11.0    595
6.0     557
12.0    537
4.0     437
13.0    416
7.0     400
3.0     395
18.0    370
14.0    352
2.0     302
16.0    297
19.0    273
21.0    272
10.0    271
25.0    263
1.0     183
15.0    167
28.0    166
26.0    163
20.0    146
22.0    102
17.0     99
31.0     91
32.0     83
23.0     79
27.0     60
0.0      45
24.0     39
53.0     27
Name: pre_ht_c12a_3, dtype: int64
____________________________________________________________________________________________________
7.0     864
5.0     750
6.0     690
4.0     670
10.0    632
1.0     592
3.0     569
2.0     529
0.0     475
11.0    413
8.0     363
14.0    347
16.0    333
12.0    306
15.0    248
9.0     241
17.0    182
21.0    156
13.0    148
18.0    132
39.0    127
19.0     92
20.0     89
23.0     77
30.0     52
26.0     48
28.0     27
24.0     16
Name: pre_ht_c12a_4, dtype: int64
____________________________________________________________________________________________________
0.0     1226
7.0      700
2.0      650
1.0      636
4.0      598
3.0      538
9.0      536
5.0      499
6.0      492
8.0      428
12.0     356
11.0     337
10.0     329
15.0     243
16.0     226
18.0     224
22.0     167
13.0     144
14.0     125
24.0      93
21.0      84
17.0      72
25.0      67
27.0      60
31.0      53
35.0      52
38.0      48
29.0      36
32.0      35
19.0      35
39.0      32
28.0      31
23.0      16
Name: pre_ht_c12a_5, dtype: int64
____________________________________________________________________________________________________
2.0     2121
0.0     1911
1.0     1848
3.0     1416
4.0      526
5.0      468
6.0      313
7.0      234
14.0      90
9.0       79
10.0      65
11.0      41
13.0      40
8.0       16
Name: pre_ht_c12a_6, dtype: int64
____________________________________________________________________________________________________
31.0     366
20.0     314
37.0     292
25.0     249
44.0     245
        ...
43.0      16
135.0     15
91.0      15
111.0     13
71.0      12
Name: pre_ht_c12a_7, Length: 85, dtype: int64
____________________________________________________________________________________________________
0.0     6192
1.0     1009
2.0      465
3.0      401
5.0      282
4.0      223
6.0      185
9.0       99
10.0      79
13.0      71
8.0       71
14.0      45
11.0      29
16.0      17
Name: pre_ht_c12b_1, dtype: int64
____________________________________________________________________________________________________
4.0     1078
0.0      884
1.0      720
6.0      684
8.0      648
11.0     607
9.0      602
3.0      487
2.0      452
7.0      367
5.0      347
18.0     246
12.0     235
10.0     221
17.0     202
14.0     152
13.0     142
21.0     132
16.0     124
23.0     119
35.0     108
22.0      99
24.0      77
32.0      71
19.0      71
20.0      66
33.0      60
26.0      52
28.0      36
15.0      35
38.0      29
27.0      15
Name: pre_ht_c12b_2, dtype: int64
____________________________________________________________________________________________________
3.0     1307
2.0     1166
4.0     1067
5.0     1050
1.0      840
6.0      628
7.0      539
8.0      470
10.0     403
0.0      395
13.0     224
9.0      194
15.0     191
11.0     190
12.0     179
14.0     171
16.0     126
19.0      28
Name: pre_ht_c12b_3, dtype: int64
____________________________________________________________________________________________________
2.0     1617
1.0     1606
0.0     1310
3.0     1100
4.0      974
5.0      883
8.0      400
6.0      367
7.0      296
10.0     218
9.0      131
13.0      77
22.0      65
18.0      62
11.0      35
14.0      27
Name: pre_ht_c12b_4, dtype: int64
____________________________________________________________________________________________________
0.0     2490
1.0     1357
3.0     1315
2.0     1002
6.0      797
4.0      771
5.0      466
7.0      246
9.0      125
12.0     100
19.0     100
11.0      77
10.0      72
8.0       69
16.0      53
15.0      36
18.0      35
20.0      32
14.0      25
Name: pre_ht_c12b_5, dtype: int64
____________________________________________________________________________________________________
0.0    4022
1.0    2877
2.0    1424
4.0     377
3.0     202
5.0     129
9.0      62
6.0      47
7.0      28
Name: pre_ht_c12b_6, dtype: int64
____________________________________________________________________________________________________
14.0    515
16.0    474
21.0    437
11.0    433
9.0     405
10.0    356
15.0    323
8.0     315
17.0    315
19.0    311
12.0    266
6.0     264
13.0    254
22.0    241
20.0    237
28.0    224
23.0    223
25.0    207
33.0    199
24.0    199
7.0     192
27.0    185
41.0    179
31.0    177
30.0    153
29.0    152
36.0    141
35.0    131
18.0    118
32.0    117
52.0    117
39.0    116
50.0    107
51.0    100
26.0     97
48.0     92
49.0     89
5.0      86
59.0     77
44.0     67
47.0     67
66.0     65
4.0      55
38.0     55
56.0     52
54.0     44
34.0     42
37.0     35
43.0     33
72.0     29
Name: pre_ht_c12b_7, dtype: int64
____________________________________________________________________________________________________
0.0     6598
1.0     1038
2.0      319
3.0      309
6.0      269
11.0     129
4.0      121
7.0      103
8.0       98
10.0      71
13.0      45
5.0       39
12.0      29
Name: pre_ht_c12c_1, dtype: int64
____________________________________________________________________________________________________
0.0     1181
1.0      898
4.0      730
7.0      630
3.0      527
2.0      517
5.0      431
10.0     336
26.0     319
9.0      306
6.0      288
8.0      276
11.0     269
16.0     251
13.0     198
24.0     189
17.0     181
15.0     156
14.0     150
12.0     135
23.0     131
28.0     122
32.0     122
20.0     121
33.0      79
30.0      72
31.0      71
21.0      62
44.0      60
22.0      56
18.0      56
36.0      52
66.0      50
27.0      48
37.0      40
42.0      29
46.0      29
Name: pre_ht_c12c_2, dtype: int64
____________________________________________________________________________________________________
5.0     1110
9.0      909
2.0      866
3.0      722
4.0      708
7.0      688
6.0      680
11.0     528
1.0      517
0.0      500
8.0      463
10.0     364
12.0     282
13.0     216
18.0     182
16.0     136
14.0     125
17.0      49
15.0      36
20.0      31
19.0      29
37.0      27
Name: pre_ht_c12c_3, dtype: int64
____________________________________________________________________________________________________
2.0     1106
3.0     1050
1.0      959
0.0      886
4.0      805
7.0      797
6.0      746
5.0      710
8.0      592
9.0      314
10.0     309
11.0     192
12.0     186
14.0     111
15.0      95
17.0      94
21.0      62
20.0      52
13.0      46
22.0      27
19.0      16
16.0      13
Name: pre_ht_c12c_4, dtype: int64
____________________________________________________________________________________________________
0.0     1448
1.0     1249
3.0      976
2.0      865
4.0      746
6.0      683
5.0      620
8.0      395
7.0      373
9.0      336
10.0     269
11.0     258
12.0     238
15.0     184
14.0     164
16.0     117
19.0     117
17.0      69
22.0      61
Name: pre_ht_c12c_5, dtype: int64
____________________________________________________________________________________________________
0.0    3216
1.0    2601
2.0    1798
3.0     766
4.0     391
5.0     160
7.0     103
6.0      93
9.0      40
Name: pre_ht_c12c_6, dtype: int64
____________________________________________________________________________________________________
15.0     477
20.0     407
14.0     393
16.0     337
33.0     318
        ...
38.0      38
108.0     29
51.0      28
100.0     27
81.0      15
Name: pre_ht_c12c_7, Length: 62, dtype: int64
____________________________________________________________________________________________________
0.0     5912
1.0      776
2.0      425
4.0      348
3.0      274
6.0      186
11.0     169
7.0      166
9.0      161
5.0       99
10.0      97
21.0      96
8.0       95
20.0      56
18.0      56
14.0      51
13.0      50
17.0      47
27.0      45
23.0      44
15.0      15
Name: pre_ht_c12d_1, dtype: int64
____________________________________________________________________________________________________
4.0     529
0.0     496
1.0     456
9.0     436
5.0     403
6.0     381
14.0    381
11.0    361
8.0     350
2.0     308
37.0    275
13.0    265
16.0    261
22.0    220
3.0     220
50.0    219
26.0    211
19.0    202
49.0    197
28.0    188
10.0    181
17.0    180
15.0    164
25.0    159
7.0     157
20.0    153
21.0    130
27.0    125
30.0    124
18.0    116
62.0    102
12.0     96
38.0     96
32.0     94
24.0     93
77.0     89
68.0     79
42.0     77
23.0     65
33.0     55
31.0     53
34.0     53
48.0     51
35.0     51
87.0     50
58.0     40
29.0     38
84.0     29
39.0     28
60.0     21
44.0     17
45.0     15
59.0     15
36.0     13
Name: pre_ht_c12d_2, dtype: int64
____________________________________________________________________________________________________
5.0     719
8.0     647
9.0     615
11.0    595
6.0     557
12.0    537
4.0     437
13.0    416
7.0     400
3.0     395
18.0    370
14.0    352
2.0     302
16.0    297
19.0    273
21.0    272
10.0    271
25.0    263
1.0     183
15.0    167
28.0    166
26.0    163
20.0    146
22.0    102
17.0     99
31.0     91
32.0     83
23.0     79
27.0     60
0.0      45
24.0     39
53.0     27
Name: pre_ht_c12d_3, dtype: int64
____________________________________________________________________________________________________
7.0     864
5.0     750
6.0     690
4.0     670
10.0    632
1.0     592
3.0     569
2.0     529
0.0     475
11.0    413
8.0     363
14.0    347
16.0    333
12.0    306
15.0    248
9.0     241
17.0    182
21.0    156
13.0    148
18.0    132
39.0    127
19.0     92
20.0     89
23.0     77
30.0     52
26.0     48
28.0     27
24.0     16
Name: pre_ht_c12d_4, dtype: int64
____________________________________________________________________________________________________
0.0     1226
7.0      700
2.0      650
1.0      636
4.0      598
3.0      538
9.0      536
5.0      499
6.0      492
8.0      428
12.0     356
11.0     337
10.0     329
15.0     243
16.0     226
18.0     224
22.0     167
13.0     144
14.0     125
24.0      93
21.0      84
17.0      72
25.0      67
27.0      60
31.0      53
35.0      52
38.0      48
29.0      36
32.0      35
19.0      35
39.0      32
28.0      31
23.0      16
Name: pre_ht_c12d_5, dtype: int64
____________________________________________________________________________________________________
2.0     2121
0.0     1911
1.0     1848
3.0     1416
4.0      526
5.0      468
6.0      313
7.0      234
14.0      90
9.0       79
10.0      65
11.0      41
13.0      40
8.0       16
Name: pre_ht_c12d_6, dtype: int64
____________________________________________________________________________________________________
31.0     366
20.0     314
37.0     292
25.0     249
44.0     245
        ...
43.0      16
135.0     15
91.0      15
111.0     13
71.0      12
Name: pre_ht_c12d_7, Length: 85, dtype: int64
____________________________________________________________________________________________________
No     4910
Yes    4311
Name: pre_ht_c13a, dtype: int64
____________________________________________________________________________________________________
No     3923
Yes    1054
Name: pre_ht_c13b, dtype: int64
____________________________________________________________________________________________________
1.0    503
2.0    147
0.0    138
4.0     76
6.0     74
3.0     61
5.0     55
Name: pre_ht_c13c, dtype: int64
____________________________________________________________________________________________________
1.0    358
0.0    305
2.0    192
3.0    144
7.0     55
Name: pre_ht_c13d, dtype: int64

No     11545
Yes      310
Name: pre_mt_b06_2_d, dtype: int64
____________________________________________________________________________________________________
No     11553
Yes      302
Name: pre_mt_b06_2_e, dtype: int64
____________________________________________________________________________________________________
No     11319
Yes      536
Name: pre_mt_b06_2_f, dtype: int64
____________________________________________________________________________________________________
No     11231
Yes      624
Name: pre_mt_b06_2_g, dtype: int64
____________________________________________________________________________________________________
Yes    10427
No      1428
Name: pre_mt_b06_2_h, dtype: int64
____________________________________________________________________________________________________
No    11855
Name: pre_mt_b06_3_a, dtype: int64
____________________________________________________________________________________________________
No    11855
Name: pre_mt_b06_3_b, dtype: int64
____________________________________________________________________________________________________
No     11783
Yes       72
Name: pre_mt_b06_3_c, dtype: int64
____________________________________________________________________________________________________
No     11619
Yes      236
Name: pre_mt_b06_3_d, dtype: int64
____________________________________________________________________________________________________
No     11344
Yes      511
Name: pre_mt_b06_3_e, dtype: int64
____________________________________________________________________________________________________
No     11235
Yes      620
Name: pre_mt_b06_3_f, dtype: int64
____________________________________________________________________________________________________
No     11263
Yes      592
Name: pre_mt_b06_3_g, dtype: int64
____________________________________________________________________________________________________
Yes    10238
No      1617
Name: pre_mt_b06_3_h, dtype: int64
____________________________________________________________________________________________________
No    11855
Name: pre_mt_b06_4_a, dtype: int64
____________________________________________________________________________________________________
No    11855
Name: pre_mt_b06_4_b, dtype: int64
____________________________________________________________________________________________________
No     11829
Yes       26
Name: pre_mt_b06_4_c, dtype: int64
____________________________________________________________________________________________________
No     10618
Yes     1237
Name: pre_mt_b06_4_d, dtype: int64
____________________________________________________________________________________________________
No     10053
Yes     1802
Name: pre_mt_b06_4_e, dtype: int64
____________________________________________________________________________________________________
No     9832
Yes    2023
Name: pre_mt_b06_4_f, dtype: int64
____________________________________________________________________________________________________
No     8975
Yes    2880
Name: pre_mt_b06_4_g, dtype: int64
____________________________________________________________________________________________________
Yes    6273
No     5582
Name: pre_mt_b06_4_h, dtype: int64
____________________________________________________________________________________________________
No     11693
Yes      162
Name: pre_mt_b06_5_a, dtype: int64
____________________________________________________________________________________________________
No     11629
Yes      226
Name: pre_mt_b06_5_b, dtype: int64
____________________________________________________________________________________________________
No     11388
Yes      467
Name: pre_mt_b06_5_c, dtype: int64
____________________________________________________________________________________________________
No     11051
Yes      804
Name: pre_mt_b06_5_d, dtype: int64
____________________________________________________________________________________________________
No     10392
Yes     1463
Name: pre_mt_b06_5_e, dtype: int64
____________________________________________________________________________________________________
No     10304
Yes     1551
Name: pre_mt_b06_5_f, dtype: int64
____________________________________________________________________________________________________
No     10337
Yes     1518
Name: pre_mt_b06_5_g, dtype: int64
____________________________________________________________________________________________________
Yes    8039
No     3816
Name: pre_mt_b06_5_h, dtype: int64
____________________________________________________________________________________________________
English     8349
Luganda     3246
Nyankore     138
Lugbara       79
Other         43
Name: pre_mt_b07, dtype: int64
____________________________________________________________________________________________________
Luganda                  8127
English                  3361
Nyankore                  181
Nyoro-tooro                66
Other                      61
No secondary language      59
Name: pre_mt_b08, dtype: int64
____________________________________________________________________________________________________
None have textbooks       6312
Yes, some pupils share    5288
Yes, one per pupil         255
Name: pre_mt_b09, dtype: int64
____________________________________________________________________________________________________
Yes    10996
No       859
Name: pre_mt_b10, dtype: int64
____________________________________________________________________________________________________
I am just as effective as other P6 math teachers in schools similar to mine        8499
I am more effective than most other P6 math teachers in schools similar to mine    3297
I am less effective than most P6 math teachers in schools similar to mine            59
Name: pre_mt_b11, dtype: int64
____________________________________________________________________________________________________
Almost all of the time    5304
Most of the time          5053
Sometimes                 1232
Never                      266
Name: pre_mt_b12, dtype: int64
____________________________________________________________________________________________________
Yes    10788
No      1067
Name: pre_mt_c01, dtype: int64
____________________________________________________________________________________________________
Yes    6912
No     4943
Name: pre_mt_c02, dtype: int64
____________________________________________________________________________________________________
Yes    5981
Name: pre_mt_dc01, dtype: int64
____________________________________________________________________________________________________
Yes    5981
Name: pre_mt_dc02, dtype: int64
____________________________________________________________________________________________________
15.0    718
11.0    684
9.0     632
22.0    623
29.0    519
13.0    516
17.0    472
18.0    426
2.0     391
20.0    232
6.0     219
25.0    181
4.0     138
27.0     74
5.0      33
1.0      16
Name: pre_mt_dt00, dtype: int64
____________________________________________________________________________________________________
Yes    5650
No      224
Name: pre_mt_dt01, dtype: int64
____________________________________________________________________________________________________
Yes    4950
No      700
Name: pre_mt_dt03, dtype: int64
____________________________________________________________________________________________________
Yes    924
Name: pre_mt_dt04, dtype: int64
____________________________________________________________________________________________________
Yes    5874
Name: pre_mt_dt05, dtype: int64
____________________________________________________________________________________________________
Yes    5152
No      722
Name: pre_mt_dt06, dtype: int64
____________________________________________________________________________________________________
Yes    4826
No      326
Name: pre_mt_dt07, dtype: int64
____________________________________________________________________________________________________
Yes, on the first try       4528
Yes, on the second try      1223
Yes, more than two tries      85
No                            38
Name: pre_mt_dt13, dtype: int64
____________________________________________________________________________________________________
0.0    8130
3.0      97
1.0      81
2.0      72
4.0      46
Name: post_problem, dtype: int64
____________________________________________________________________________________________________
        5313
1       4257
2       4166
both       3
Name: post_form, dtype: int64
____________________________________________________________________________________________________
0.0    4866
2.0    3560
Name: post_q1, dtype: int64
____________________________________________________________________________________________________
2.0    5542
0.0    2884
Name: post_q2, dtype: int64
____________________________________________________________________________________________________
2.0    7435
0.0     991
Name: post_q3, dtype: int64
____________________________________________________________________________________________________
2.0    7658
0.0     768
Name: post_q4, dtype: int64
____________________________________________________________________________________________________
2.0    6051
0.0    2358
Name: post_q5, dtype: int64
____________________________________________________________________________________________________
2.0    5265
0.0    3144
Name: post_q6, dtype: int64
____________________________________________________________________________________________________
2.0    5195
0.0    3214
Name: post_q7, dtype: int64
____________________________________________________________________________________________________
2.0    5883
0.0    2526
Name: post_q8, dtype: int64
____________________________________________________________________________________________________
2.0    7861
0.0     549
Name: post_q9, dtype: int64
____________________________________________________________________________________________________
0.0    4248
2.0    4170
Name: post_q10, dtype: int64
____________________________________________________________________________________________________
0.0    6417
2.0    2001
Name: post_q11, dtype: int64
____________________________________________________________________________________________________
2.0    7264
0.0    1154
Name: post_q12, dtype: int64
____________________________________________________________________________________________________
0.0    6599
2.0    1819
Name: post_q13, dtype: int64
____________________________________________________________________________________________________
0.0    5574
2.0    2844
Name: post_q14, dtype: int64
____________________________________________________________________________________________________
0.0    5109
2.0    3308
Name: post_q15, dtype: int64
____________________________________________________________________________________________________
0.0    5229
2.0    3187
Name: post_q16, dtype: int64
____________________________________________________________________________________________________
2.0    4897
0.0    3519
Name: post_q17, dtype: int64
____________________________________________________________________________________________________
2.0    5022
0.0    3395
Name: post_q18, dtype: int64
____________________________________________________________________________________________________
0.0    7063
2.0    1356
Name: post_q19, dtype: int64
____________________________________________________________________________________________________
2.0    6272
0.0    2066
Name: post_q20, dtype: int64
____________________________________________________________________________________________________
0.0    4302
2.0    4036
Name: post_q21, dtype: int64
____________________________________________________________________________________________________
0.0    5771
2.0    2567
Name: post_q22, dtype: int64
____________________________________________________________________________________________________
2.0    4243
0.0    4087
Name: post_q23, dtype: int64
____________________________________________________________________________________________________
0.0    6974
2.0    1339
Name: post_q24, dtype: int64
____________________________________________________________________________________________________
2.0    4457
0.0    3855
Name: post_q25, dtype: int64
____________________________________________________________________________________________________
0.0    4777
2.0    3535
Name: post_q26, dtype: int64
____________________________________________________________________________________________________
0.0    6246
2.0    2061
Name: post_q27, dtype: int64
____________________________________________________________________________________________________
0.0    4488
2.0    3817
Name: post_q28, dtype: int64
____________________________________________________________________________________________________
0.0    6156
2.0    2250
Name: post_q29, dtype: int64
____________________________________________________________________________________________________
0.0    8370
2.0      36
Name: post_q30, dtype: int64
____________________________________________________________________________________________________
0.0    6875
2.0    1532
Name: post_q31, dtype: int64
____________________________________________________________________________________________________
0.0    8049
2.0     358
Name: post_q32, dtype: int64
____________________________________________________________________________________________________
0.0    6200
2.0    2204
Name: post_q33, dtype: int64
____________________________________________________________________________________________________
0.0    8102
2.0     302
Name: post_q34, dtype: int64
____________________________________________________________________________________________________
0.0    8083
2.0     326
Name: post_q35, dtype: int64
____________________________________________________________________________________________________
0.0    8359
2.0      67
Name: post_q36, dtype: int64
____________________________________________________________________________________________________
0.0    8356
2.0      70
Name: post_q37, dtype: int64
____________________________________________________________________________________________________
48.0    1546
15.0    1420
63.0    1410
20.0    1370
57.0    1342
92.0    1338
Name: post_grader, dtype: int64
____________________________________________________________________________________________________
8014     99
10032    96
3003     96
1002     91
12018    91
         ..
11026    14
11002    13
6012     12
11036     8
10052     8
Name: post_a01, Length: 299, dtype: int64
____________________________________________________________________________________________________
20.0    965
14.0    921
15.0    916
9.0     882
7.0     830
22.0    829
35.0    782
11.0    782
6.0     753
29.0    749
18.0    697
27.0    685
13.0    684
25.0    640
23.0    634
2.0      37
Name: post_ta_t1_a07, dtype: int64
____________________________________________________________________________________________________
Yes    11786
Name: post_ta_t1_a12, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_ta_t1_a13, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ta_t1_a14, dtype: int64)
____________________________________________________________________________________________________
Yes    11786
Name: post_ta_t1_a10, dtype: int64
____________________________________________________________________________________________________
Yes    11786
Name: post_ta_t1_a11, dtype: int64
____________________________________________________________________________________________________
1.0      260
5.0      260
4.0      260
3.0      260
2.0      259
        ...
132.0      1
143.0      1
140.0      1
87.0       1
82.0       1
Name: post_ta_t1_b00, Length: 134, dtype: int64
____________________________________________________________________________________________________
Yes    5
3.0    4
4.0    3
No     2
Name: post_ta_t1_b02a, dtype: int64
____________________________________________________________________________________________________
Yes    11207
No       579
Name: post_ta_t1_b02b, dtype: int64
____________________________________________________________________________________________________
Yes    9375
No     1839
Name: post_ta_t1_b02, dtype: int64
____________________________________________________________________________________________________
99.0    1331
2.0      155
13.0      82
26.0      59
3.0       51
30.0      23
6.0       20
20.0      20
12.0      15
5.0       14
4.0       13
29.0       7
15.0       6
10.0       6
25.0       5
7.0        5
8.0        5
24.0       4
22.0       4
16.0       3
9.0        3
28.0       2
19.0       2
23.0       2
21.0       1
27.0       1
Name: post_ta_t1_b02c_dd, dtype: int64
____________________________________________________________________________________________________
8.0     509
9.0     370
5.0     368
7.0     209
6.0     188
4.0     133
3.0      36
2.0      13
10.0     11
12.0      1
Name: post_ta_t1_b02c_mm, dtype: int64
____________________________________________________________________________________________________
P6            4476
P5            4150
P4            1955
P3             380
Don't know     105
P7              96
P2              40
P1               7
Name: post_ta_t1_b03, dtype: int64
____________________________________________________________________________________________________
Skill progressed moderately    6256
Same level of skill            2732
Gained a lot of skill          1623
Skill has declined              597
Name: post_ta_t1_b03a, dtype: int64
____________________________________________________________________________________________________
Enroll in P7          7342
Repeat P6             2796
Drop out of school    1070
Name: post_ta_t1_b04a, dtype: int64
____________________________________________________________________________________________________
Yes           7148
No             108
Don't know      88
Name: post_ta_t1_b05, dtype: int64
____________________________________________________________________________________________________
Division 3           2918
Division 2           2622
Division 4            903
Division 1            716
Don't know             62
Division U (fail)      21
Name: post_ta_t1_b06, dtype: int64
____________________________________________________________________________________________________
Never                 4824
A few math lessons    3205
Some math lessons     1798
Most math lessons      852
Every math lesson      529
Name: post_ta_t1_b07, dtype: int64
____________________________________________________________________________________________________
23.0    227
11.0    215
35.0    200
18.0    180
6.0     165
9.0     154
27.0    146
13.0    122
29.0    111
22.0     92
20.0     90
15.0     87
14.0     86
7.0      56
25.0     22
Name: post_ta_t2_a07, dtype: int64
____________________________________________________________________________________________________
Yes    1953
Name: post_ta_t2_a12, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_ta_t2_a13, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ta_t2_a14, dtype: int64)
____________________________________________________________________________________________________
Yes    1953
Name: post_ta_t2_a10, dtype: int64
____________________________________________________________________________________________________
Yes    1953
Name: post_ta_t2_a11, dtype: int64

31.0    468
17.0    444
12.0    417
16.0    369
26.0    354
29.0    343
32.0    330
30.0    303
40.0    285
39.0    281
28.0    281
23.0    280
19.0    277
34.0    275
36.0    268
24.0    260
9.0     260
35.0    255
18.0    255
27.0    255
11.0    251
22.0    249
33.0    249
7.0     243
20.0    223
14.0    220
13.0    218
6.0     194
15.0    176
25.0    121
2.0      35
10.0      2
Name: post_pp_a07, dtype: int64
____________________________________________________________________________________________________
Yes    8439
No        2
Name: post_pp_a11, dtype: int64
____________________________________________________________________________________________________
101.0    7203
102.0    1235
Name: post_pp_a12_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_pp_a12_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_pp_a12_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_pp_a12_4, dtype: int64)
____________________________________________________________________________________________________
101.0    7203
102.0    1235
Name: post_pp_a13, dtype: int64
____________________________________________________________________________________________________
101.0    7203
102.0    1235
Name: post_pp_tid_1, dtype: int64
____________________________________________________________________________________________________
Yes    7534
No      904
Name: post_pp_b10_1, dtype: int64
____________________________________________________________________________________________________
No     4449
Yes    3088
Name: post_pp_b11_1, dtype: int64
____________________________________________________________________________________________________
Some math lessons     2640
A few math lessons    2262
Never                 1901
Most math lessons     1100
Every math lesson      535
Name: post_pp_b12_1, dtype: int64
____________________________________________________________________________________________________
Some math lessons     3384
Most math lessons     2249
A few math lessons    1371
Every math lesson     1323
Never                  111
Name: post_pp_b13_1, dtype: int64
____________________________________________________________________________________________________
Some math lessons     3676
A few math lessons    2352
Most math lessons     1559
Every math lesson      608
Never                  243
Name: post_pp_b14_1, dtype: int64
____________________________________________________________________________________________________
Never                 3548
A few math lessons    2486
Some math lessons     1609
Most math lessons      547
Every math lesson      248
Name: post_pp_b15_1, dtype: int64
____________________________________________________________________________________________________
Never                 3013
A few math lessons    2459
Some math lessons     1802
Most math lessons      626
Every math lesson      538
Name: post_pp_b16_1, dtype: int64
____________________________________________________________________________________________________
Yes           4186
No            3982
Don't know     270
Name: post_pp_b17_1, dtype: int64
____________________________________________________________________________________________________
Always              7080
Most of the time    1231
Some of the time     120
Never                  7
Name: post_pp_b18_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_pp_tid_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_pp_b10_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_pp_b12_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_pp_b13_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_pp_b14_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_pp_b15_2, dtype: int64)
____________________________________________________________________________________________________
A few math lessons    1
Name: post_pp_b16_2, dtype: int64
____________________________________________________________________________________________________
No     2
Yes    1
Name: post_pp_b17_2, dtype: int64
____________________________________________________________________________________________________
No     162
Yes     64
Name: post_pp_e00, dtype: int64
____________________________________________________________________________________________________
Yes    959
No     112
Name: post_pp_e10, dtype: int64
____________________________________________________________________________________________________
No     589
Yes    369
Name: post_pp_e11, dtype: int64
____________________________________________________________________________________________________
Some math lessons     363
A few math lessons    262
Never                 235
Most math lessons     148
Every math lesson      59
Name: post_pp_e12, dtype: int64
____________________________________________________________________________________________________
Some math lessons     461
Most math lessons     256
A few math lessons    204
Every math lesson     101
Never                  45
Name: post_pp_e13, dtype: int64
____________________________________________________________________________________________________
Some math lessons     413
A few math lessons    323
Most math lessons     217
Never                  67
Every math lesson      49
Name: post_pp_e14, dtype: int64
____________________________________________________________________________________________________
Never                 452
A few math lessons    303
Some math lessons     222
Most math lessons      73
Every math lesson      19
Name: post_pp_e15, dtype: int64
____________________________________________________________________________________________________
Never                 477
A few math lessons    241
Some math lessons     228
Most math lessons      82
Every math lesson      41
Name: post_pp_e16, dtype: int64
____________________________________________________________________________________________________
No            585
Yes           468
Don't know     19
Name: post_pp_e17, dtype: int64
____________________________________________________________________________________________________
Always              907
Most of the time    146
Some of the time     26
Never                14
Name: post_pp_e18, dtype: int64
____________________________________________________________________________________________________
Yes    8430
No        8
Name: post_pp_d01, dtype: int64
____________________________________________________________________________________________________
Yes                                             8430
Picture already taken                              5
Cannot take picture due to technical problem       1
Name: post_pp_d02, dtype: int64
____________________________________________________________________________________________________
17    1055
26    1036
30    1019
34    1007
31    1003
16     997
24     921
12     918
32     886
36     877
39     861
19     860
28     831
33     806
40     662
Name: post_et_a07, dtype: int64
____________________________________________________________________________________________________
Yes    13566
No       173
Name: post_et_b05, dtype: int64
____________________________________________________________________________________________________
Yes    13566
No       173
Name: post_et_b05a, dtype: int64
____________________________________________________________________________________________________
School event preventing most P6 pupils from participating (sports day, science fair etc.)    173
Name: post_et_b05b, dtype: int64
____________________________________________________________________________________________________
Yes    257
Name: post_et_b05c, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b05d, dtype: int64)
____________________________________________________________________________________________________
1    13739
Name: post_et_b01a, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b02a, dtype: int64)
____________________________________________________________________________________________________
1    13739
Name: post_et_b09, dtype: int64
____________________________________________________________________________________________________
0    12944
1      749
2       46
Name: post_et_b10, dtype: int64
____________________________________________________________________________________________________
      12944
F       547
D       202
DF       46
Name: post_et_b11, dtype: int64
____________________________________________________________________________________________________
    13739
Name: post_et_b12_1, dtype: int64
____________________________________________________________________________________________________
    13739
Name: post_et_b12_2, dtype: int64
____________________________________________________________________________________________________
    13739
Name: post_et_b12_3, dtype: int64
____________________________________________________________________________________________________
2    11786
1     1953
Name: post_et_b13_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b13_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b13_3, dtype: int64)
____________________________________________________________________________________________________
6.0     691
9.0     580
7.0     253
8.0     134
3.0     113
11.0     86
4.0      58
5.0      20
1.0      18
Name: post_et_b15_mm_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b15_mm_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b15_mm_3, dtype: int64)
____________________________________________________________________________________________________
2016.0    1895
2009.0      58
Name: post_et_b15_yy_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b15_yy_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b15_yy_3, dtype: int64)
____________________________________________________________________________________________________
Teaching something else at this school    1154
Teaching at another school                 574
Something else/new to teaching             225
Name: post_et_b16_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b16_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b16_3, dtype: int64)
____________________________________________________________________________________________________
Yes    13105
No       634
Name: post_et_b17_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b17_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b17_3, dtype: int64)
____________________________________________________________________________________________________
1.0    836
Name: post_et_b18_1_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b18_1_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b18_1_3, dtype: int64)
____________________________________________________________________________________________________
6.0     169
9.0     158
5.0      81
2.0      78
7.0      77
8.0      51
11.0     49
3.0      46
10.0     46
4.0      40
Name: post_et_b20_mm_1_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b20_mm_1_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_mm_1_3, dtype: int64)
____________________________________________________________________________________________________
2016.0    795
Name: post_et_b20_yy_1_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b20_yy_1_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_yy_1_3, dtype: int64)
____________________________________________________________________________________________________
Teaching/assisting something else at this school    555
Teaching/assisting at another school                206
Something else/new to teaching                       34
Name: post_et_b21_1_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b21_1_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b21_1_3, dtype: int64)
____________________________________________________________________________________________________
1.0    46
Name: post_et_b18_2_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b18_2_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b18_2_3, dtype: int64)
____________________________________________________________________________________________________
10.0    46
Name: post_et_b20_mm_2_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b20_mm_2_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_mm_2_3, dtype: int64)
____________________________________________________________________________________________________
2016.0    46
Name: post_et_b20_yy_2_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b20_yy_2_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_yy_2_3, dtype: int64)
____________________________________________________________________________________________________
Teaching/assisting something else at this school    46
Name: post_et_b21_2_1, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b21_2_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b21_2_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b18_3_1, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b18_3_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b18_3_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_mm_3_1, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_mm_3_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_mm_3_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_yy_3_1, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_yy_3_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b20_yy_3_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b21_3_1, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b21_3_2, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_et_b21_3_3, dtype: int64)
____________________________________________________________________________________________________
Has left for another school                      746
Is teaching another subject within the school    600
Has left teaching                                240
Was never the P6 math teacher                    189
On leave due to illness                          119
On leave for reasons other than illness           59
Name: post_et_b22, dtype: int64
____________________________________________________________________________________________________
District Education Office      548
P6 math teacher him/herself    536
Head teacher                   427
Other                           75
Name: post_et_b23, dtype: int64
____________________________________________________________________________________________________
6.0     445
5.0     367
9.0     318
8.0     276
7.0     272
11.0     86
Name: post_et_b24_mm, dtype: int64
____________________________________________________________________________________________________
2016.0    1764
Name: post_et_b24_yy, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_et_b26, dtype: int64)
____________________________________________________________________________________________________
Yes    13739
Name: post_et_c01, dtype: int64
____________________________________________________________________________________________________
20    1055
9     1036
35    1019
14    1007
15    1003
11     997
22     921
6      918
7      886
18     877
23     861
29     860
27     831
13     806
25     662
Name: post_ht_a07, dtype: int64
____________________________________________________________________________________________________
Yes    13739
Name: post_ht_a10, dtype: int64
____________________________________________________________________________________________________
Yes    12024
No      1715
Name: post_ht_a16, dtype: int64

Series([], Name: post_ht_d03b_2_3_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03c_1_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03c_2_3_dd, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03c_2_3_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03d_1_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03d_2_3_dd, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03d_2_3_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03e_1_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03e_2_3_dd, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03e_2_3_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d04_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d05_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d06_3, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_tid4, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03a_1_4, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03a_2_4_dd, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03a_2_4_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03b_1_4, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03b_2_4_dd, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03b_2_4_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03c_1_4, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03c_2_4_dd, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03c_2_4_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03d_1_4, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03d_2_4_dd, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03d_2_4_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03e_1_4, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03e_2_4_dd, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d03e_2_4_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d04_4, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d05_4, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_ht_d06_4, dtype: int64)
____________________________________________________________________________________________________
0.0    1284
2.0     300
1.0     230
4.0      86
5.0      53
Name: post_ht_f01, dtype: int64
____________________________________________________________________________________________________
Very effective         929
Average                802
Extremely effective    160
Below average           62
Name: post_ht_f02, dtype: int64
____________________________________________________________________________________________________
Yes    13739
Name: post_ht_e01, dtype: int64
____________________________________________________________________________________________________
Yes    13739
Name: post_ht_e02, dtype: int64
____________________________________________________________________________________________________
26    1036
34    1007
24     921
19     860
30     851
12     823
13     806
27     796
20     710
16     672
40     662
31     638
39     606
7      558
36     510
18     367
15     365
17     345
32     328
11     325
23     255
35     168
6       95
28      35
Name: post_fn_a07, dtype: int64
____________________________________________________________________________________________________
No     11407
Yes     2332
Name: post_fn_b09_1, dtype: int64
____________________________________________________________________________________________________
No     11310
Yes     2429
Name: post_fn_b09_2, dtype: int64
____________________________________________________________________________________________________
Yes    9972
No     3767
Name: post_fn_b09_3, dtype: int64
____________________________________________________________________________________________________
20.0    1055
9.0     1036
14.0    1007
15.0    1003
11.0     997
22.0     921
35.0     886
7.0      886
18.0     860
29.0     860
6.0      859
23.0     818
13.0     806
27.0     758
25.0     662
2.0       37
Name: post_mt_t1_a07, dtype: int64
____________________________________________________________________________________________________
Control      6808
Treatment    6643
Name: post_mt_t1_a11, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b01, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b02, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b03, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b04, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b05a, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b05b, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b05c, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b05e, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b05f, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t1_b05d, dtype: int64)
____________________________________________________________________________________________________
FG      4392
EFG     2065
        1953
F       1348
FEG      742
EF       478
FD       343
DFG      310
FE       237
FGE      224
DEFG     203
GF       194
DF       177
DEF      137
CF       122
FDEG     120
GFE      114
BF        82
CEFG      81
FGD       72
GFED      50
EFB       50
CDEF      49
FDG       46
FEDG      43
GEF       43
FC        29
GFD       22
EFD       13
Name: post_mt_t1_b06_1, dtype: int64
____________________________________________________________________________________________________
H     10133
       1953
G       469
D       372
F       331
B        99
FG       76
EG       71
DE       65
E        65
C        53
FE       29
DF       23
Name: post_mt_t1_b06_2, dtype: int64
____________________________________________________________________________________________________
H       9926
        1953
F        438
G        388
E        281
D        180
FG       128
EF       122
B         99
EFG       95
DE        75
C         29
DEFG      25
Name: post_mt_t1_b06_3, dtype: int64
____________________________________________________________________________________________________
H      6461
       1953
G      1544
E       940
F       629
FG      576
D       341
EG      284
C       144
EFG     112
B        99
EF       94
DE       94
GFE      81
EC       78
DF       77
DEF      69
DG       63
FD       40
ED       32
GF       28
Name: post_mt_t1_b06_4, dtype: int64
____________________________________________________________________________________________________
H          8249
           1953
F           821
G           475
D           428
E           353
FG          352
DF          217
EF          167
ABCDEFG     126
B           123
DEFG         96
C            87
ED           53
EFG          52
GE           44
GF           41
FD           40
DG           37
BCDEG        25
Name: post_mt_t1_b06_5, dtype: int64
____________________________________________________________________________________________________
English     9775
Luganda     1896
Nyankore      90
Lugbara       25
Name: post_mt_t1_b07, dtype: int64
____________________________________________________________________________________________________
Luganda                  9353
English                  2011
Nyankore                  209
No secondary language     169
Other                      44
Name: post_mt_t1_b08, dtype: int64
____________________________________________________________________________________________________
Yes, some pupils share    6498
None have textbooks       4938
Yes, one per pupil         350
Name: post_mt_t1_b09, dtype: int64
____________________________________________________________________________________________________
121 minutes to 150 minutes    2787
More than 180 minutes         2462
91 minutes to 120 minutes     2223
151 minutes to 180 minutes    1990
61 minutes to 90 minutes      1384
31 minutes to 60 minutes       853
0 to 30 minutes                 87
Name: post_mt_t1_b13, dtype: int64
____________________________________________________________________________________________________
More than 180 minutes         4218
151 minutes to 180 minutes    2114
91 minutes to 120 minutes     2016
121 minutes to 150 minutes    1565
31 minutes to 60 minutes       858
61 minutes to 90 minutes       824
0 to 30 minutes                191
Name: post_mt_t1_b14, dtype: int64
____________________________________________________________________________________________________
I am just as effective as other P6 math teachers in schools similar to mine        7830
I am more effective than most other P6 math teachers in schools similar to mine    3820
I am less effective than most P6 math teachers in schools similar to mine           136
Name: post_mt_t1_b11, dtype: int64
____________________________________________________________________________________________________
Most of the time          5563
Almost all of the time    4382
Sometimes                 1615
Never                      226
Name: post_mt_t1_b12, dtype: int64
____________________________________________________________________________________________________
No     10143
Yes     1643
Name: post_mt_t1_b15, dtype: int64
____________________________________________________________________________________________________
1.0    1240
2.0     403
0.0      52
Name: post_mt_t1_b16, dtype: int64
____________________________________________________________________________________________________
A few math lessons    825
Some math lessons     681
Most math lessons     137
Name: post_mt_t1_b17a, dtype: int64
____________________________________________________________________________________________________
      12096
B       919
A       289
C       215
AB      115
F        42
BF       37
BE       26
Name: post_mt_t1_b17b, dtype: int64
____________________________________________________________________________________________________
A few math lessons    296
Some math lessons     107
Name: post_mt_t1_b18a, dtype: int64
____________________________________________________________________________________________________
     13336
B      225
A       78
C       58
F       42
Name: post_mt_t1_b18b, dtype: int64
____________________________________________________________________________________________________
Yes    11161
No       625
Name: post_mt_t1_c01, dtype: int64
____________________________________________________________________________________________________
Yes    9765
No     1437
Name: post_mt_t1_c01a, dtype: int64
____________________________________________________________________________________________________
Yes    8313
No     3473
Name: post_mt_t1_c02, dtype: int64
____________________________________________________________________________________________________
Yes    6714
Name: post_mt_t1_dc01, dtype: int64
____________________________________________________________________________________________________
Yes    6657
No       57
Name: post_mt_t1_dc02, dtype: int64
____________________________________________________________________________________________________
Yes    6098
No      253
Name: post_mt_t1_dt01, dtype: int64
____________________________________________________________________________________________________
Yes    5695
No      403
Name: post_mt_t1_dt03, dtype: int64
____________________________________________________________________________________________________
Yes    585
No      71
Name: post_mt_t1_dt04, dtype: int64
____________________________________________________________________________________________________
Yes    6247
No      104
Name: post_mt_t1_dt05, dtype: int64
____________________________________________________________________________________________________
Yes    6018
No      333
Name: post_mt_t1_dt06, dtype: int64
____________________________________________________________________________________________________
Yes    5859
No      159
Name: post_mt_t1_dt07, dtype: int64
____________________________________________________________________________________________________
Mobile money    4969
Bank account    1049
Name: post_mt_t1_dt14, dtype: int64
____________________________________________________________________________________________________
Yes    312
Name: post_mt_t1_dt15, dtype: int64
____________________________________________________________________________________________________
Yes    312
Name: post_mt_t1_dt16, dtype: int64
____________________________________________________________________________________________________
Yes    1520
No      145
Name: post_mt_t1_e00a, dtype: int64
____________________________________________________________________________________________________
Teacher is too ill to respond and unavailable for the remainder of the survey    86
Absconded (absent without notice)                                                59
Name: post_mt_t1_e00b, dtype: int64
____________________________________________________________________________________________________
9.0    94
0.0    51
Name: post_mt_t1_e00c, dtype: int64
____________________________________________________________________________________________________
Yes    1520
Name: post_mt_t1_e00d, dtype: int64
____________________________________________________________________________________________________
No     829
Yes    691
Name: post_mt_t1_e01a, dtype: int64
____________________________________________________________________________________________________
6.0     395
5.0     383
8.0     352
7.0     216
10.0     66
99.0     58
9.0      30
4.0      20
Name: post_mt_t1_e01_mm, dtype: int64
____________________________________________________________________________________________________
2016.0    1462
99.0        58
Name: post_mt_t1_e01_yy, dtype: int64
____________________________________________________________________________________________________
      12219
B       616
A       406
J       291
C        69
JA       66
D        33
F        20
BJ       19
Name: post_mt_t1_e02, dtype: int64
____________________________________________________________________________________________________
English    1009
Luganda     453
Other        58
Name: post_mt_t1_e03, dtype: int64
____________________________________________________________________________________________________
Luganda    1009
English     453
Other        58
Name: post_mt_t1_e04, dtype: int64
____________________________________________________________________________________________________
None have textbooks       824
Yes, some pupils share    622
Yes, one per pupil         74
Name: post_mt_t1_e05, dtype: int64
____________________________________________________________________________________________________
91 minutes to 120 minutes     319
121 minutes to 150 minutes    316
More than 180 minutes         304
31 minutes to 60 minutes      241
151 minutes to 180 minutes    185
61 minutes to 90 minutes      155
Name: post_mt_t1_e06, dtype: int64
____________________________________________________________________________________________________
More than 180 minutes         616
151 minutes to 180 minutes    393
121 minutes to 150 minutes    178
91 minutes to 120 minutes     113
61 minutes to 90 minutes       86
31 minutes to 60 minutes       86
0 to 30 minutes                48
Name: post_mt_t1_e07, dtype: int64
____________________________________________________________________________________________________
I was just as effective as other P6 math teachers in schools similar to mine        1145
I was more effective than most other P6 math teachers in schools similar to mine     375
Name: post_mt_t1_e08, dtype: int64
____________________________________________________________________________________________________
Most of the time          742
Almost all of the time    562
Sometimes                 216
Name: post_mt_t1_e09, dtype: int64
____________________________________________________________________________________________________
No     1258
Yes     262
Name: post_mt_t1_e10, dtype: int64
____________________________________________________________________________________________________
1.0    262
Name: post_mt_t1_e11, dtype: int64
____________________________________________________________________________________________________
Some math lessons     177
A few math lessons     85
Name: post_mt_t1_e12a, dtype: int64
____________________________________________________________________________________________________
      13477
E       101
B        95
BF       66
Name: post_mt_t1_e12b, dtype: int64

Yes    1177
No      776
Name: post_mt_t2_c02, dtype: int64
____________________________________________________________________________________________________
Yes    993
Name: post_mt_t2_dc01, dtype: int64
____________________________________________________________________________________________________
Yes    993
Name: post_mt_t2_dc02, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_dt01, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_dt03, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_dt04, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_dt05, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_dt06, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_dt07, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_dt14, dtype: int64)
____________________________________________________________________________________________________
Yes    960
Name: post_mt_t2_dt15, dtype: int64
____________________________________________________________________________________________________
Yes    960
Name: post_mt_t2_dt16, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e00a, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e00b, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e00c, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e00d, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e01a, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e01_mm, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e01_yy, dtype: int64)
____________________________________________________________________________________________________
    13739
Name: post_mt_t2_e02, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e03, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e04, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e05, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e06, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e07, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e08, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e09, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e10, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e11, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e12a, dtype: int64)
____________________________________________________________________________________________________
    13739
Name: post_mt_t2_e12b, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e13a, dtype: int64)
____________________________________________________________________________________________________
    13739
Name: post_mt_t2_e13b, dtype: int64
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e14, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e15, dtype: int64)
____________________________________________________________________________________________________
Series([], Name: post_mt_t2_e16, dtype: int64)
____________________________________________________________________________________________________
1.0    7336
0.0    1530
Name: pre_i1, dtype: int64
____________________________________________________________________________________________________
1.0    5397
0.0    3469
Name: pre_i2, dtype: int64
____________________________________________________________________________________________________
0.0    5209
1.0    3657
Name: pre_i3, dtype: int64
____________________________________________________________________________________________________
1.0    8344
0.0     522
Name: pre_i4, dtype: int64
____________________________________________________________________________________________________
1.0    8280
0.0     586
Name: pre_i5, dtype: int64
____________________________________________________________________________________________________
1.0    7240
0.0    1626
Name: pre_i6, dtype: int64
____________________________________________________________________________________________________
1.0    5775
0.0    3091
Name: pre_i7, dtype: int64
____________________________________________________________________________________________________
1.0    5511
0.0    3355
Name: pre_i8, dtype: int64
____________________________________________________________________________________________________
1.0    7667
0.0    1199
Name: pre_i9, dtype: int64
____________________________________________________________________________________________________
1.0    6336
0.0    2529
Name: pre_i10, dtype: int64
____________________________________________________________________________________________________
1.0    7897
0.0     969
Name: pre_i11, dtype: int64
____________________________________________________________________________________________________
0.0    5643
1.0    3222
Name: pre_i12, dtype: int64
____________________________________________________________________________________________________
0.0    6366
1.0    2499
Name: pre_i13, dtype: int64
____________________________________________________________________________________________________
1.0    6859
0.0    2006
Name: pre_i14, dtype: int64
____________________________________________________________________________________________________
0.0    7796
1.0    1069
Name: pre_i15, dtype: int64
____________________________________________________________________________________________________
0.0    8042
1.0     749
Name: pre_i16, dtype: int64
____________________________________________________________________________________________________
1.0    4989
0.0    3802
Name: pre_i17, dtype: int64
____________________________________________________________________________________________________
0.0    6689
1.0    2102
Name: pre_i18, dtype: int64
____________________________________________________________________________________________________
0.0    6100
1.0    2692
Name: pre_i19, dtype: int64
____________________________________________________________________________________________________
1.0    7415
0.0    1451
Name: pre_i20, dtype: int64
____________________________________________________________________________________________________
0.0    8004
1.0     862
Name: pre_i21, dtype: int64
____________________________________________________________________________________________________
1.0    6551
0.0    2315
Name: pre_i22, dtype: int64
____________________________________________________________________________________________________
0.0    7694
1.0    1172
Name: pre_i23, dtype: int64
____________________________________________________________________________________________________
1.0    6086
0.0    2779
Name: pre_i24, dtype: int64
____________________________________________________________________________________________________
0.0    8693
1.0     172
Name: pre_i25, dtype: int64
____________________________________________________________________________________________________
0.0    5908
1.0    2958
Name: pre_i26, dtype: int64
____________________________________________________________________________________________________
0.0    8715
1.0     149
Name: pre_i27, dtype: int64
____________________________________________________________________________________________________
0.0    7305
1.0    1561
Name: pre_i28, dtype: int64
____________________________________________________________________________________________________
0.0    8658
1.0     206
Name: pre_i29, dtype: int64
____________________________________________________________________________________________________
0.0    8199
1.0     666
Name: pre_i30, dtype: int64
____________________________________________________________________________________________________
0.0    5596
1.0    2827
Name: post_i1, dtype: int64
____________________________________________________________________________________________________
1.0    8322
0.0     101
Name: post_i2, dtype: int64
____________________________________________________________________________________________________
1.0    7988
0.0     433
Name: post_i3, dtype: int64
____________________________________________________________________________________________________
1.0    6908
0.0    1515
Name: post_i4, dtype: int64
____________________________________________________________________________________________________
0.0    4218
1.0    4190
Name: post_i5, dtype: int64
____________________________________________________________________________________________________
1.0    5263
0.0    3143
Name: post_i6, dtype: int64
____________________________________________________________________________________________________
1.0    7097
0.0    1309
Name: post_i7, dtype: int64
____________________________________________________________________________________________________
1.0    4641
0.0    3762
Name: post_i8, dtype: int64
____________________________________________________________________________________________________
1.0    7858
0.0     549
Name: post_i9, dtype: int64
____________________________________________________________________________________________________
0.0    4915
1.0    3503
Name: post_i10, dtype: int64
____________________________________________________________________________________________________
0.0    6415
1.0    2000
Name: post_i11, dtype: int64
____________________________________________________________________________________________________
1.0    7262
0.0    1153
Name: post_i12, dtype: int64
____________________________________________________________________________________________________
0.0    6282
1.0    2132
Name: post_i13, dtype: int64
____________________________________________________________________________________________________
0.0    6997
1.0    1418
Name: post_i14, dtype: int64
____________________________________________________________________________________________________
1.0    4415
0.0    4000
Name: post_i15, dtype: int64
____________________________________________________________________________________________________
0.0    5228
1.0    3185
Name: post_i16, dtype: int64
____________________________________________________________________________________________________
0.0    5773
1.0    2640
Name: post_i17, dtype: int64
____________________________________________________________________________________________________
1.0    7275
0.0    1139
Name: post_i18, dtype: int64
____________________________________________________________________________________________________
0.0    7060
1.0    1356
Name: post_i19, dtype: int64
____________________________________________________________________________________________________
1.0    6269
0.0    2066
Name: post_i20, dtype: int64
____________________________________________________________________________________________________
0.0    4301
1.0    4034
Name: post_i21, dtype: int64
____________________________________________________________________________________________________
0.0    5770
1.0    2565
Name: post_i22, dtype: int64
____________________________________________________________________________________________________
0.0    7196
1.0    1131
Name: post_i23, dtype: int64
____________________________________________________________________________________________________
0.0    6809
1.0    1501
Name: post_i24, dtype: int64
____________________________________________________________________________________________________
1.0    7403
0.0     906
Name: post_i25, dtype: int64
____________________________________________________________________________________________________
0.0    4777
1.0    3532
Name: post_i26, dtype: int64
____________________________________________________________________________________________________
0.0    4543
1.0    3764
Name: post_i27, dtype: int64
____________________________________________________________________________________________________
0.0    4314
1.0    3992
Name: post_i28, dtype: int64
____________________________________________________________________________________________________
0.0    8030
1.0     372
Name: post_i29, dtype: int64
____________________________________________________________________________________________________
0.0    8367
1.0      36
Name: post_i30, dtype: int64
____________________________________________________________________________________________________
0.0    6874
1.0    1530
Name: post_i31, dtype: int64
____________________________________________________________________________________________________
0.0    8047
1.0     357
Name: post_i32, dtype: int64
____________________________________________________________________________________________________
0.0    6199
1.0    2202
Name: post_i33, dtype: int64
____________________________________________________________________________________________________
0.0    8176
1.0     230
Name: post_i34, dtype: int64
____________________________________________________________________________________________________
0.0    8003
1.0     398
Name: post_i35, dtype: int64
____________________________________________________________________________________________________
0.0    8328
1.0      95
Name: post_i36, dtype: int64
____________________________________________________________________________________________________
0.0    8381
1.0      42
Name: post_i37, dtype: int64
____________________________________________________________________________________________________
         1884
08014      88
10032      87
02004      80
10041      79
         ...
05021      12
06012       9
06043       8
10052       7
11036       5
Name: r3_a01, Length: 300, dtype: int64
____________________________________________________________________________________________________
Headteacher                  8816
Deputy headteacher           2466
P7 teacher                    502
Other teacher                  58
P6 teacher from follow-up      13
Name: r3_a11b_1, dtype: int64
____________________________________________________________________________________________________
P7 teacher                        4248
Other teacher                     3039
P6 teacher, not from follow-up     999
P6 teacher from follow-up          235
Headteacher                         35
Deputy headteacher                  23
Name: r3_a11b_2, dtype: int64
____________________________________________________________________________________________________
P6 teacher, not from follow-up    990
P7 teacher                         59
P6 teacher from follow-up          52
Headteacher                        35
Name: r3_a11b_3, dtype: int64
____________________________________________________________________________________________________
Male      7570
Female    4285
Name: r3_a11d, dtype: int64
____________________________________________________________________________________________________
P7 teacher                        9522
Deputy headteacher                 808
P6 teacher from follow-up          467
Other teacher                      191
P6 teacher, not from follow-up     185
Headteacher                         80
Name: r3_a12b_1, dtype: int64
____________________________________________________________________________________________________
P6 teacher, not from follow-up    3789
P6 teacher from follow-up         2054
P7 teacher                        1212
Deputy headteacher                 323
Name: r3_a12b_2, dtype: int64
____________________________________________________________________________________________________
P6 teacher, not from follow-up    212
P6 teacher from follow-up         196
Deputy headteacher                 62
Name: r3_a12b_3, dtype: int64
____________________________________________________________________________________________________
Male      9595
Female    1658
Name: r3_a12d, dtype: int64
____________________________________________________________________________________________________
Yes, both P6 and P7    7586
Only P7                2139
No                     1514
Only P6                 616
Name: r3_a13, dtype: int64
____________________________________________________________________________________________________
Female     4807
Male       4057
Missing    2991
           1884
Name: r3_b02a, dtype: int64
____________________________________________________________________________________________________
Male          1560
Female        1426
Don?t know       5
Name: r3_b02b, dtype: int64
____________________________________________________________________________________________________
Yes    6924
No     4931
Name: r3_b03, dtype: int64
____________________________________________________________________________________________________
Pupil attending another school          1977
Pupil no longer attending any school    1677
Don?t know                              1279
Other                                      9
Name: r3_b04, dtype: int64
____________________________________________________________________________________________________
Most days of the term    5606
Occasionally              877
Never                     441
Name: r3_b05, dtype: int64
____________________________________________________________________________________________________
Everyday             4735
Did not attend        974
3-4 days per week     883
1-2 days per week     332
Name: r3_b06, dtype: int64
____________________________________________________________________________________________________
Yes                        5038
No                         4631
N/A (no class register)     673
Name: r3_b07, dtype: int64
____________________________________________________________________________________________________
P7                                 4871
P6                                 2030
Don't know                           17
Demoted to P5 - from field note       4

Name: b_no_books_sc, dtype: int64
____________________________________________________________________________________________________
0.000000    3261
0.200000     465
0.153846     368
0.222222     361
0.111111     326
            ...
0.571429      29
0.206897      29
0.454545      27
0.147059      27
0.375000      19
Name: b_boys_rp6_sc, Length: 102, dtype: int64
____________________________________________________________________________________________________
0.000000    2769
0.142857     435
0.050000     359
0.181818     322
0.090909     320
            ...
0.178571      28
0.185185      26
0.333333      19
0.214286      18
0.500000       8
Name: b_girls_rp6_sc, Length: 103, dtype: int64
____________________________________________________________________________________________________
Yes    7832
No     5907
Name: b_prac_ple_sc, dtype: int64
____________________________________________________________________________________________________
Yes    11855
No      1884
Name: b_reg_pp, dtype: int64
____________________________________________________________________________________________________
Yes    11481
No       374
Name: b_enr_pp, dtype: int64
____________________________________________________________________________________________________
Yes    8864
No     2991
Name: b_int_pp, dtype: int64
____________________________________________________________________________________________________
Yes    13739
Name: e_reg_pp, dtype: int64
____________________________________________________________________________________________________
Yes    10961
No      2778
Name: e_enr_pp, dtype: int64
____________________________________________________________________________________________________
Yes    8439
No     5298
Name: e_int_pp, dtype: int64
____________________________________________________________________________________________________
No     5304
Yes    5038
Name: r3_reg_pp, dtype: int64
____________________________________________________________________________________________________
Yes    6924
No     4931
Name: r3_enr_pp, dtype: int64
____________________________________________________________________________________________________
Yes    5950
No     5905
Name: r3_att_pp, dtype: int64
____________________________________________________________________________________________________
No     7120
Yes    4735
Name: r3_everyday_pp, dtype: int64
____________________________________________________________________________________________________
No     6984
Yes    4871
Name: r3_p7_pp, dtype: int64
____________________________________________________________________________________________________
No     7481
Yes    4374
Name: r3_att_p7_pp, dtype: int64
____________________________________________________________________________________________________
No     8220
Yes    3635
Name: r3_everyday_p7_pp, dtype: int64
____________________________________________________________________________________________________
Yes    4491
No      380
Name: r3_ple_reg_pp, dtype: int64
____________________________________________________________________________________________________
Enrolled                    6913
Enrolled in Other School    1977
Dropped Out                 1677
Name: r3_exit_reason_pp, dtype: int64
____________________________________________________________________________________________________
1.0    8866
0.0    2989
Name: pre_test, dtype: int64
____________________________________________________________________________________________________
0.0    8788
1.0      78
Name: pre_prob_test, dtype: int64
____________________________________________________________________________________________________
1.0    8423
0.0    5316
Name: post_test, dtype: int64
____________________________________________________________________________________________________
0.0    8253
1.0     170
Name: post_prob_test, dtype: int64
____________________________________________________________________________________________________
14.0    814
15.0    813
13.0    782
16.0    758
12.0    733
17.0    705
11.0    650
18.0    580
10.0    548
19.0    428
9.0     414
20.0    301
8.0     270
21.0    225
7.0     160
22.0    144
6.0     116
5.0      78
23.0     76
24.0     50
4.0      46
3.0      31
25.0     28
26.0     16
2.0      11
1.0       8
28.0      1
29.0      1
30.0      1
Name: pre_score, dtype: int64
____________________________________________________________________________________________________
 0.850405    11
 0.006324    11
 0.575373    10
 0.188377     9
-0.341481     8
             ..
-0.150980     1
 0.449259     1
-1.645350     1
-0.275601     1
 0.453126     1
Name: pre_theta, Length: 7783, dtype: int64
____________________________________________________________________________________________________
15.0    612
13.0    606
16.0    574
14.0    567
12.0    539
18.0    522
11.0    516
17.0    489
10.0    431
19.0    428
20.0    410
9.0     342
21.0    330
22.0    280
8.0     266
23.0    227
24.0    188
7.0     185
25.0    137
6.0     119
26.0    113
27.0     71
5.0      67
28.0     47
4.0      46
29.0     38
3.0      28
30.0     25
2.0      16
31.0      8
1.0       7
32.0      4
0.0       4
33.0      4
35.0      3
34.0      3
37.0      1
Name: post_score, dtype: int64
____________________________________________________________________________________________________
-1.331569    10
-1.326064    10
-0.984354    10
-1.139832    10
-0.833053     9
             ..
-0.450463     1
 0.713428     1
 0.161353     1
 0.270782     1
-0.015137     1
Name: post_theta, Length: 7875, dtype: int64
____________________________________________________________________________________________________
-0.752796    30
 1.581473    27
-0.936333    27
 2.099509    25
-0.562917    24
             ..
 0.015532     1
-0.681556     1
-0.822182     1
-0.900311     1
-0.052239     1
Name: post_theta13, Length: 5395, dtype: int64
____________________________________________________________________________________________________
-1.071974    1119
-0.538120     327
-0.507256     310
-0.076424     283
-1.379585     251
             ...
 1.861089       1
-0.586785       1
 0.555476       1
 1.079686       1
 0.671876       1
Name: post_theta46, Length: 1056, dtype: int64
____________________________________________________________________________________________________
Present, Tested, Interviewed                8864
Not Present, Not Tested, Not Interviewed    4872
Present, Tested, Not Interviewed               2
Present, Not Tested, Not Interviewed           1
Name: b_status_pp, dtype: int64
____________________________________________________________________________________________________
Present, Tested, Interviewed                8383
Not Present, Not Tested, Not Interviewed    5267
Not Present, Tested, Interviewed              31
Present, Not Tested, Not Interviewed          24
Present, Not Tested, Interviewed              16
Not Present, Not Tested, Interviewed           9
Present, Tested, Not Interviewed               7
Not Present, Tested, Not Interviewed           2
Name: e_status_pp, dtype: int64

In [171]:
data[~data.pre_mt_dt04.isna()].pre_mt_dt04

211      Yes
212      Yes
213      Yes
214      Yes
215      Yes
        ...
12944    Yes
12945    Yes
12946    Yes
12947    Yes
12948    Yes
Name: pre_mt_dt04, Length: 924, dtype: category
Categories (1, object): [Yes]

In [228]:
[col for col in data.columns if 'a' in col]

['a01',
 'baseline_score',
 'treat',
 'pre_a01',
 'pre_ar_a07',
 'pre_ar_a10',
 'pre_ar_b00',
 'pre_ar_b02',
 'pre_ar_c02',
 'pre_ar_c03',
 'pre_nr_a07',
 'pre_nr_a10',
 'pre_nr_a11',
 'pre_pp_a09a',
 'pre_pp_a07',
 'pre_pp_a11',
 'pre_pp_b01a',
 'pre_pp_b02a',
 'pre_pp_c01a',
 'pre_et_a07',
 'pre_et_a10',
 'pre_et_b06a',
 'pre_et_b07a',
 'pre_ht_a07',
 'pre_ht_a10',
 'pre_ht_a11',
 'pre_ht_a12',
 'pre_ht_b05a',
 'pre_ht_b06a',
 'pre_ht_b07a',
 'pre_ht_b08a',
 'pre_ht_b10a',
 'pre_ht_b11a',
 'pre_ht_c01a',
 'pre_ht_c03a',
 'pre_ht_c04a',
 'pre_ht_c05a',
 'pre_ht_c09a',
 'pre_ht_c10a',
 'pre_ht_c11a',
 'pre_ht_c12a_1',
 'pre_ht_c12a_2',
 'pre_ht_c12a_3',
 'pre_ht_c12a_4',
 'pre_ht_c12a_5',
 'pre_ht_c12a_6',
 'pre_ht_c12a_7',
 'pre_ht_c13a',
 'pre_ht_c14a_1',
 'pre_ht_c14a_2',
 'pre_ht_c14a_3',
 'pre_ht_c14a_4',
 'pre_ht_c14a_5',
 'pre_ht_c14a_6',
 'pre_ht_c14a_7',
 'pre_ht_c14a_8',
 'pre_ht_d03a_1',
 'pre_fn_a07',
 'pre_mt_a07',
 'pre_mt_b05a',
 'pre_mt_b06_1_a',
 'pre_mt_b06_2_a',
 'pre_mt_b06_3_a',
 'pre_mt_b06_4_a',
 'pre_mt_b06_5_a',
 'post_grader',
 'post_a01',
 'post_ta_t1_a07',
 'post_ta_t1_a12',
 'post_ta_t1_a13',
 'post_ta_t1_a14',
 'post_ta_t1_a10',
 'post_ta_t1_a11',
 'post_ta_t1_b00',
 'post_ta_t1_b02a',
 'post_ta_t1_b02b',
 'post_ta_t1_b02',
 'post_ta_t1_b02c_dd',
 'post_ta_t1_b02c_mm',
 'post_ta_t1_b03',
 'post_ta_t1_b03a',
 'post_ta_t1_b04a',
 'post_ta_t1_b05',
 'post_ta_t1_b06',
 'post_ta_t1_b07',
 'post_ta_t2_a07',
 'post_ta_t2_a12',
 'post_ta_t2_a13',
 'post_ta_t2_a14',
 'post_ta_t2_a10',
 'post_ta_t2_a11',
 'post_ta_t2_b00',
 'post_ta_t2_b02a',
 'post_ta_t2_b02b',
 'post_ta_t2_b02',
 'post_ta_t2_b02c_dd',
 'post_ta_t2_b02c_mm',
 'post_ta_t2_b03',
 'post_ta_t2_b03a',
 'post_ta_t2_b04a',
 'post_ta_t2_b05',
 'post_ta_t2_b06',
 'post_ta_t2_b07',
 'post_ar_a07',
 'post_ar_a10',
 'post_ar_c02',
 'post_ar_a11',
 'post_ar_c00',
 'post_ar_c04',
 'post_ar_c03',
 'post_ar_c05',
 'post_nr_a07',
 'post_nr_a10',
 'post_nr_a10a',
 'post_nr_a11',
 'post_nr_a12',
 'post_nr_b01a',
 'post_nr_b02a',
 'post_ar_b02',
 'post_nr_b04a',
 'post_att_corrected',
 'post_pp_a09a',
 'post_pp_a07',
 'post_pp_a11',
 'post_pp_a12_1',
 'post_pp_a12_2',
 'post_pp_a12_3',
 'post_pp_a12_4',
 'post_pp_a13',
 'post_et_a07',
 'post_et_b05a',
 'post_et_b01a',
 'post_et_b02a',
 'post_ht_a07',
 'post_ht_a10',
 'post_ht_a16',
 'post_ht_a17',
 'post_ht_a18_mm',
 'post_ht_a18_yy',
 'post_ht_a20_mm',
 'post_ht_a20_yy',
 'post_ht_a11',
 'post_ht_a12',
 'post_ht_d03a_1_1',
 'post_ht_d03a_2_1_dd',
 'post_ht_d03a_2_1_mm',
 'post_ht_d03a_1_2',
 'post_ht_d03a_2_2_dd',
 'post_ht_d03a_2_2_mm',
 'post_ht_d03a_1_3',
 'post_ht_d03a_2_3_dd',
 'post_ht_d03a_2_3_mm',
 'post_ht_d03a_1_4',
 'post_ht_d03a_2_4_dd',
 'post_ht_d03a_2_4_mm',
 'post_fn_a07',
 'post_mt_t1_a07',
 'post_mt_t1_a11',
 'post_mt_t1_b05a',
 'post_mt_t1_b17a',
 'post_mt_t1_b18a',
 'post_mt_t1_c01a',
 'post_mt_t1_e00a',
 'post_mt_t1_e01a',
 'post_mt_t1_e12a',
 'post_mt_t1_e13a',
 'post_mt_t2_a07',
 'post_mt_t2_a08d',
 'post_mt_t2_a11',
 'post_mt_t2_b05a',
 'post_mt_t2_b17a',
 'post_mt_t2_b18a',
 'post_mt_t2_c01a',
 'post_mt_t2_e00a',
 'post_mt_t2_e01a',
 'post_mt_t2_e12a',
 'post_mt_t2_e13a',
 'r3_a01',
 'r3_a11b_1',
 'r3_a11b_2',
 'r3_a11b_3',
 'r3_a11d',
 'r3_a12b_1',
 'r3_a12b_2',
 'r3_a12b_3',
 'r3_a12d',
 'r3_a13',
 'r3_b02a',
 'r3_flag_change_pupil',
 'r3_flag_change_school',
 'r3_flag_cb',
 'ple_mat',
 'ple_agg',
 'ple_tracking',
 'e_same_teacher_sc',
 'e_treated_sc',
 'b_prac_ple_sc',
 'r3_att_pp',
 'r3_everyday_pp',
 'r3_att_p7_pp',
 'r3_everyday_p7_pp',
 'r3_exit_reason_pp',
 'pre_theta',
 'post_theta',
 'post_theta13',
 'post_theta46',
 'b_status_pp',
 'e_status_pp']

In [229]:
data.e_same_teacher_sc

0         No
1         No
2         No
3         No
4         No
        ...
13734    Yes
13735    Yes
13736    Yes
13737    Yes
13738    Yes
Name: e_same_teacher_sc, Length: 13739, dtype: category
Categories (2, object): [No < Yes]

In [47]:
# к началу 2017: курс доллара к кенийским шиллингам 
dollars_yearly = 931440/102.31
dollars_yearly

9104.095396344443